.landing-content-wrapper{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    text-align: center;

    .page-details{
        max-width: 56%;
        margin: auto;
    }

    .feature-heading{
        margin-top: 4rem;
        margin-bottom: 2.5rem;
    }

    .header{
        font-weight: 500;
        font-size:calc(2.7rem + 1vmin);
        margin-top: 2.7rem;
    }

    .cards-wrapper{
        margin-bottom: 3rem;
        .card-heading{
            font-size: 1.4rem;
            font-weight: 500;
            margin-top: 1rem;
            margin-bottom: .3rem;
        }
        .details{
            max-width: 73%;
            margin: auto;
        }
    }
}
@media (max-width:767px){
    .landing-content-wrapper{
        .page-details{
            max-width: 80%;
            margin: auto;
        }
    }
}
@media (max-width:575px){
    .landing-content-wrapper{
        .header{
            font-weight: 500;
            font-size:calc(2rem + 1vmin);
            margin-top: 2.7rem;
        }
        .cards-wrapper{
            margin-bottom: unset;
            .card-content{
                margin-bottom: 3rem;
            }
        }
    }
}
