@import "../app.scss";

.inventory-page-overview-header {
  margin: unset !important;
  display: flex;
  align-items: baseline;
}
.inventory-overview-btn {
  align-items: center;
  width: 45%;
}
.more_add_inventory {
  float: right;
  padding-right: 22px;
}
.sub-heading-val {
  margin: 20px;
}
#deviceName {
  color: $black;
  display: inline-block;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.inventary_photo_view {
  position: absolute;
  width: 200px;
  height: 150px;
  margin: 5px;
}
#deviceTotal {
  float: right;
  color: $sky-blue;
}
.upload {
  background-color: $red-00;
  display: none;
}
.bg-white {
  background: $white;
}
.text-red {
  color: $red-00;
  padding-left: 16px !important;
}
.text-red-np {
  color: $red-00;
}
#modalAudit {
  .modal-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .row {
    width: 100% !important;
    margin-left: -12px !important;
    margin-right: -12px !important;
  }
}
.inventory-device-picture {
  height: 200px;
}
.inventory-picture {
  height: 100px;
}
.assign-member {
  overflow: scroll;
  overflow-x: hidden;
}
.deviceCardWidget {
  min-height: 142px;
  .deviceCard {
    margin-top: 10px;
    .list-content {
      width: fit-content;
    }
    .chart {
      width: fit-content;
      position: absolute;
      top: 0;
      right: 0;
    }
    @media only screen and (max-width: 360px) {
      .chart {
        width: fit-content;
        margin: 0 auto;
      }
    }
  }
}
.addinventory {
  padding: 2%;
  // border: 2px solid black;
  // margin: 2%;
  // margin-top: 65px;
  overflow: auto;
  background: $white;
  .add-inven-btn {
    .spinner-border {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
  .addInventory-label {
    font-size: 14px;
  }
  .input-wrapper {
    #date-picker {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
.unfound-class > .row {
  display: unset;
}
.row.no-gutter.unfounded-class-for-filter {
  display: unset;
}
.row.user-list-management-inventory {
  display: unset;
}
.dker.p-x {
  .bg-white-inventory-page {
    background: transparent;
    .nav-item {
      background: transparent;
    }
  }
}
.searchResultCategories {
  > li > a {
    color: $gray-600;
    font-weight: $font-weight-normal;

    &:hover {
      color: $gray-700;
      background-color: $gray-400;
    }
  }
}

.inventory-detail-list {
  display: flex;
  justify-content: space-between;
}

.searchResultsCount {
  margin-top: 10px;
}

.searchResultItem {
  padding: 20px;
  background-color: $white;
  border-radius: $border-radius;
  box-shadow: var(--widget-shadow);

  &:first-of-type {
    overflow: hidden;
  }

  @include clearfix();

  .imageLink {
    display: block;
    overflow: hidden;
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;

    @include media-breakpoint-up(md) {
      display: inline-block;
      margin-left: -20px;
      float: left;
      width: 200px;
    }

    @include media-breakpoint-down(sm) {
      max-height: 200px;
    }
  }

  .image {
    max-width: 100%;
  }

  .info {
    margin-top: 2px;
    font-size: $font-size-sm;
    color: $text-muted;
    background: transparent;
  }

  .description {
    font-size: $font-size-mini;
    margin-bottom: -5px;
  }

  + .searchResultItem {
    margin-top: 20px;
  }

  .searchResultItemBody {
    height: auto;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }

    @include media-breakpoint-up(md) {
      margin-left: 200px;
    }
  }

  .searchResultItemHeading {
    font-weight: $font-weight-normal;

    > a {
      color: $text-color;
    }

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }
}
.my-inven {
  color: $gray-700 !important;
  thead {
    .inven-hr {
      font-size: 12px;
      font-weight: 600;
      th {
        padding: 0.75rem !important;
      }
    }
  }
  tbody {
    .inven-br {
      td {
        padding: 0.75rem !important;
        font-size: 13px;
      }
    }
  }
}

.inventory-box {
  padding-left: 0px !important;
}

.inventory-label {
  padding-right: 0px !important;
}

.p-left-inventory {
  padding-left: 32px !important;
}

.linkInactive {
  color: $light-greeness;
}

.inventory-box .form-control {
  background-color: $body-bg;
}

.machineDetail {
  background-color: $white;
  padding: 1em;
}

.machineDetailInfo {
  padding-bottom: 1em;
  text-overflow: ellipsis;
}

.machineDetailInfo .lightGrey {
  color: $gray-600;
}

.machineDetailInfo .darkGrey {
  color: $gray-700;
}

.lightGreen {
  background-color: $light-sky-gray;
}

.borderGreen{
  border-left: 2px solid $light-greeness;
}
.borderOrange{
  border-left: 2px solid $orange;
}
.borderRed{
  border-left: 2px solid $red;
}
.borderGray{
  border-left: 2px solid $gray-600;
}

.status-critical-issue-card {
  background-color: $red;
  &.card-selected {
    border-left: 3px solid $red;
    background: transparent;
  }
}

.status-issue-card {
  background-color: $orange;
  &.card-selected {
    border-left: 3px solid $orange;
    background: transparent;
  }
}

.status-good-card {
  background-color: $green;
  &.card-selected {
    border-left: 3px solid $green;
    background: transparent;
  }
}

.status-pending-card {
  background-color: $gray-600;
  &.card-selected {
    border-left: 3px solid $gray-600;
    background: transparent;
  }
}

.workingStatus {
  border-left: 2px solid $light-greeness;
}
#date-picker{
  margin-left:0px !important;
  margin-right:0px !important

}

.not-workingStatus {
  border-left: 2px solid $red-00;
}

.status-good {
  border-left: 2px solid $green;
}

.status-issue {
  border-left: 2px solid $orange;
}
.table_image_preview {
  width: 300px;
  height: 150px;
}

.status-critical-issue {
  border-left: 2px solid $red;
}

.status-pending {
  border-left: 2px solid $gray-600;
}

.machineDetailTab {
  background-color: unset !important;
  margin-bottom: 0.2em !important;
}

.machineDetailTab .nav-item {
  margin-right: 0.3em;
}

.tabSelected {
  background-color: $white;
}

.machineDetailTab.nav-tabs > .nav-item .nav-link.active {
  box-shadow: none;
}

.tabNotSelected {
  background-color: $body-bg;
  margin-right: 0.1em;
}

.machineDetail-2 {
  margin-top: 2em;
}

.comment-section {
  background-color: $white;
}

.commentUser {
  margin-top: 0;
  margin-bottom: 2px;
  color: $ocean-blue;
}

.comment-section .post-comments {
  height: 52vh;
  overflow: auto;
}

.post-comments {
  height: 250px;
  overflow: auto;
  & ::-webkit-scrollbar {
    width: 4px;
    background-color: $gray-700;
  }
}

.comment-section .card {
  width: 95%;
  margin-bottom: 0.5em;
}

.addComment {
  margin-left: 0 !important;
  cursor: pointer;
}

.addCommentText {
  padding-left: 0.5em;
}

.remPadding {
  padding-left: 0 !important;
}

.report {
  margin-bottom: 1rem;
}

.device_total {
  font-size: 12px;
}
.header_inventory {
  justify-content: space-between;
  display: flex;
}
.header_inventory {
  .page-title {
    font-size: 30px;
    font-weight: 500;
  }
}

.audit-button.btn.btn-md,
.download-button.btn.btn-md {
  background-color: $teal;
  color: $white;
  font-size: 1rem;
  padding: 0.375rem 1rem;
}

.status-list {
  margin-bottom: 0.25rem;
}

.status-list .task-content {
  padding-left: 0 !important;
}

.add-inventory-document-heading {
  margin: 20px;
}
.dn-csv-link{
  display: flex;
  flex-direction: row;
  align-items: center;
  .flaticon-download{
    font-size: 1.4rem;
  }
}
.download-csv-link {
  // position: absolute;
  // right: 2%;
  // bottom: 4px;
  color: #337ab7;
  text-decoration: underline;
}

.delete-sold-inventory{
  color: $gray-600;
  cursor: pointer;
}

.delete-sold-inventory:hover{
  color:$gray-800;
}

.redirect-pointer {
  cursor: pointer;
}
.redirect-pointer:hover {
  color: $info;
}

.inventory-doc-preview {
  width: 200px;
  height: auto;
}

.link-dn-2{
  margin-bottom: .5rem !important;
}
.machineDetailInfo.width50{
  width:50%;
}
@media (min-width: $screen-width-768) {
  .my-inventory-list-scroll {
    overflow-y: scroll;
    max-height: 575px;
  }
  .my-inventory-list-user {
    overflow-y: scroll;
    max-height: 713px;
  }
  .user-inventory-details {
    margin-left: 0.25rem;
  }
}
@media (max-width: $screen-width-575) {
  .inventory-head-container {
    padding-left: 5px !important;
    padding-right: 5px !important;
    .inventory-overview-btn {
      width: 50%;
    }
  }
  .doc_inventory_upload {
    flex-direction: column;
  }
  .status-list button {
    width: 100%;
  }
  .machineDetailInfo.width50{
    width:100%;
  }
}


.audit-wise-list-wrapper{
  display: flex;
  flex-direction: row;
  .inventory-list{
    margin-right: .5rem;
  }
}

.inventory-overview-details-a{
  color: unset;
  cursor: pointer;
}

.inventory-overview-details-a:hover{
  color: $link-color
}
@media (max-width: $screen-width-480) {
  .nav-link{
    .user-name-ellips-loader-active{
      white-space: nowrap; 
      width: 120px; 
      overflow: hidden;
      text-overflow: ellipsis; 
      display: inline-block;
      height: auto;
    }
  }
  .my-inventory-header{
    flex-wrap: wrap;
  }
}

@media (max-width: $screen-width-398) {
  .nav-link{
    .user-name-ellips-loader-disable{
      white-space: nowrap; 
      width: 158px; 
      overflow: hidden;
      text-overflow: ellipsis; 
      display: inline-block;
      height: auto;
    }
  }
}

@media(max-width:$screen-width-360){
  .header_inventory{
    display: block;
  }
}