.h1Left {
  margin-left: 33% !important;
  opacity: 0.56;
}

.o-auto {
  overflow: auto;
  margin-top: 2%;
}
.upload {
  background-color: red;
  display: none;
}

.small {
  margin-left: 3%;
  width: 30%;
  height: 30%;
}
// .addinventory{
//   padding: 3%;
//   // border: 2px solid black;
//   margin: 2%;
//   margin-top: 65px;
//   overflow: auto;
//   background: #fff;
// }
.invbtn{
  width:100% 
}
.deviceinfo{
  cursor: pointer;
}
.audit-comment{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: inherit;
}
.audit-btn{
  width:125px
}
@media only screen and (max-width: 767px) {
  .deviceinfo {
    position: relative !important; 
    min-height: 1px !important;
}
.Dialog_box_view_inventory > div > div {
   width: 70% !important;
}

// .buttonbox{
//   width: 93%;
//   padding-right: 4%;
// }
.addStatus{
  width:100%;
}
.addDevice{
  width:100%;
}

.addcomp{
  padding-left: 0px !important;
}
// .selectDevice{
//   margin: 0% 0% 0% 5% 
// }
.addInventory{
  margin-right: 0px!important;
  width:100%;
}
.counter-tab{
  margin-top: 20%!important;
}
  }
@media only screen and (max-width: 576px) {
  .Dialog_box_view_inventory > div > div {
    width: 90% !important;
 }
 .inventory_find_view {
   margin-top: 10px;
 }
}
