.day-color-reference {
  min-width: 55px;
  flex: 1;
}
.calendar-day {
  width: calc(100% / 7);
  min-width: 100px;
  float: left;
  min-height: 150px;
}
.before_joining {
  height: 111px;
  background: $gray-origin;
}

.before_joining_label {
  background: $gray-origin;
  color: $dark-white;
}

.officetime {
  font-size: $font-size-10;
}
.timesheet-comment {
  font-size: 0.85em;
  line-height: 1.3;
  font-weight: 400;
  word-break: break-all;
}
.timesheet-modal {
  z-index: 1000000;
}
.timesheet-calendar .fc-event:active,
.timesheet-calendar .fc-event:hover {
  z-index: 1 !important;
}
.timesheetImage {
  padding: 0 2px;
}
.timeSheet-calendar-structure {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.timeSheet-weekdays {
  font-weight: bold;
  background-color: #ffffff;
  text-align: center;
  padding: 0.5em;
}
.timesheet-calendar{
  padding: 1em 0;
}
.timesheetEntryImage{
  max-width: 300px;
  height: auto;
}

@media (max-width: $screen-width-768) {
  .timeSheet-calendar-structure {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: $screen-width-576) {
  .timeSheet-calendar-structure {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: $screen-width-398) {
  .timeSheet-calendar-structure {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.mobile_preview_manage {
  display: none;
}
.compensation-data {
  small {
    display: block;
    font-size: $font-size-10;
    line-height: 2;
    font-weight: 400;
    text-transform: capitalize;
  }
}

.user-detail {
  padding: 0 !important;
  flex: 1 1;
  .p-a {
    padding: 1rem 0.5rem !important;
    .m-r {
      margin-right: 0.5rem !important;
    }
  }
  .total {
    color: $accent;
  }
  .complete {
    color: $primary;
  }
  .pending {
    color: $pending-yellow;
  }
  .text-lg {
    font-size: $font-size-14e;
  }
}
.myattform {
  align-items: baseline;
}
.box {
  .clear {
    .text-lg {
      font-size: $font-size-12e;
    }
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .box-body {
    .m-b {
      margin-bottom: 0;
    }
    .no-gutter {
      h4 {
        margin: 5px 0px;
      }
      .p-a {
        padding: 0.3rem 0.5rem !important;
        .h-3x {
          height: 1rem;
        }
      }
    }
  }
}
.manual-entry-form {
  .form-group {
    margin-bottom: 10px;
  }
}
.modal-body {
  background-color: $white !important;
}
.day {
  background-color: $white;
  position: relative;
  margin-bottom: 1.5rem;
  .box-header {
    padding: 1.5rem 1rem 0rem;
  }
  .box-body {
    padding: 0rem;
    .no-gutter {
      h4 {
        margin: 5px 0px;
      }
      .p-a {
        padding: 0.3rem 0.5rem !important;
        .h-3x {
          height: 1rem;
        }
      }
    }
  }
}
#modalUserDaySummary {
  z-index: 1;
  .modal-header {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .row {
    width: 100% !important;
    margin-left: unset !important;
  }
}
.modal-backdrop {
  &.in {
    z-index: -9 !important;
  }
}
.time_compensation_title {
  h3 {
    color: $gray-700 !important;
    font-weight: 400 !important;
    line-height: 1.2 !important;
    font-family: "Montserrat", sans-serif;
  }
}

.uploadAttandanceList table tbody tr:nth-child(even) {
  background-color: $light-gray;
}
.uploadAttandanceList table tbody tr td {
  border-bottom: 1px solid $lightgray !important;
}

.uploadAttandanceList table thead tr th {
  border-bottom: 1px solid $lightgray !important;
  vertical-align: middle;
}
@media only screen and (max-width: $screen-width-767) {
  .user-detail {
    flex: 1 1 100%;
  }
  .day-color-reference {
    flex: 1 1 100%;
  }
}
@media only screen and (max-width: $screen-width-1092) and (min-width: $screen-width-992) {
  .box {
    .clear {
      .text-lg {
        font-size: $font-size-10e;
      }
    }
  }
}
.working-summary-hours {
  padding-left: 8px;
  margin: 0;
}
.working-summary-member-card {
  .widget-all-cards {
    min-height: 108px;
    max-height: auto;
  }
}

@media screen and (max-width: $screen-width-991) {
  .working-summary-member-card-row {
    padding-left: 0;
    padding-right: 0;
  }
  .working-summary-member-card-row > .working-summary-member-card {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .working-summary-member-card > .widget-all-cards {
    margin-bottom: 20px;
  }
}

.text-white.add-icon-attendance {
  width: 1rem;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.small-plus-add-icon-attendance {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 10px;
  .glyphicon.glyphicon-plus {
    font-size: $font-size-18;
  }
}
.stat-item-avatar-man {
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
.attendance-cards-spinner {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  left: 0%;
  top: 0%;
}
.small-plus-add-icon-attendance {
  cursor: pointer;
}
@media only screen and (max-width: $screen-width-768) {
  .working-summary-member-card > .widget-all-cards {
    min-height: 100px;
  }
  .salary-col-padding {
    height: auto;
  }
  .mobile_preview_manage {
    display: inline-block;
  }
  .manage_preview_mobile {
    display: none;
  }
}
@media only screen and (max-width: $screen-width-576) {
  #week_days {
    display: none;
  }
}
.MuiDialog-root {
  z-index: 1500 !important;
}
#modalUserDaySummary {
  z-index: 1000;
}
