@import '../../../styles/app';

.headerLink {
  overflow-x: hidden;

  @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
    font-size: 13px;
  }

  a {
    display: block;
    color: var(--sidebar-color);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

  &:last-child > a {
    border-bottom: 1px solid $sidebar-item-border-color;
  }

  > a {
    position: relative;
    align-items: center;
    padding-left: 50px;
    line-height: 35px;
    border-top: 1px solid $sidebar-item-border-color;

    &:hover {
      background-color: var(--sidebar-item-hover-bg-color);
    }

    > i {
      margin-right: 7px;
    }

    @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
      line-height: 55px;
    }
  }

  .icon {
    font-size: $font-size-larger;
    display: block;
    position: absolute;
    top: 3px;
    left: 11px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    opacity: .7;

    @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
      top: 12px;
    }
  }

  .badge {
    float: right;
    line-height: 8px;
    margin-top: 9px;
    margin-right: 15px;

    @media (min-width: map_get($grid-breakpoints, lg)) and (min-height: $screen-lg-height), (max-width: map_get($grid-breakpoints, md) - 1px) {
      margin-top: 16px;
    }
  }
}

.headerLabel {
  font-weight: 600;
  color: theme-color('warning');
}

.collapsed .caret {
  transform: rotate(-90deg);
}

.caret {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 15px;

  @include transition(transform 0.3s ease-in-out);
}

a.headerLinkActive {
  color: $sidebar-item-active-color;
  font-weight: $font-weight-normal;

  &:hover {
    color: $sidebar-item-active-color;
  }

  .icon {
    border-radius: 50%;
    background-color: $sidebar-item-active-color;
    opacity: 1;

    i {
      color: var(--sidebar-bg-color);
    }
  }
}

.panel {
  border: none;
  box-shadow: none;
  margin: 0;
  border-radius: 0;
  background-color: var(--sidebar-panel-bg-color);

  a.headerLinkActive {
    font-weight: $font-weight-semi-bold;
    color: var(--sidebar-color);
  }

  ul {
    background: var(--sidebar-action-bg);
    padding: $spacer;

    li {
      list-style: none;
    }

    a {
      padding: 10px 20px 10px 26px;
      font-size: $font-size-mini;

      &:hover {
        background-color: var(--sidebar-item-hover-bg-color);
      }
    }
  }
}

