// streamline
.streamline {
  position: relative;
  border-color: $border-color;
  &:after,
  .sl-item:before,
  .sl-icon:before {
    content: "";
    position: absolute;
    border-color: inherit;
    border-width: 10px;
    border-style: solid;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    margin-left: -10px;
    top: 6px;
    left: 0;
    margin-top: -6px;
  }
  &:after {
    top: auto;
    bottom: 0;
  }
}

#leave-summary {
  &:after {
    background-color: $success;
  }
}

.sl-icon {
  position: absolute;
  left: -10px;
  z-index: 1;
  border: inherit;

  > i {
    width: 20px;
    height: 20px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: $white;
  }
  .streamline &:before {
    width: 20px;
    height: 20px;
    border-width: 10px;
    margin: 0 !important;
    top: 0 !important;
  }
}

.sl-item {
  border-color: $border-color;
  position: relative;
  padding-bottom: 1px;
  @include clearfix();
  &:after {
    top: 2px;
    bottom: auto;
  }
  &.b-l {
    margin-left: -1px;
  }
}

.sl-left {
  float: left;
  position: relative;
  z-index: 1;
  margin-left: -20px;
  margin-bottom: 24px;
  img {
    max-width: 40px;
  }
  + .sl-content {
    margin-left: 36px;
  }
}

.sl-content {
  margin-left: 24px;
  padding-bottom: 16px;
}

.sl-author {
  margin-bottom: 10px;
}

.sl-date {
  font-size: $font-size-08e;
}

.sl-footer {
  margin-bottom: $font-size-10;
}

#date-calendar {
  .rdr-Calendar .is-selected {
    font-weight: bold !important;
    border-radius: 100% !important;
    color: $black !important;
    display: inline-block !important;
    position: relative !important;
    border-radius: 50% !important;
    bottom: 0 !important;
    background-color: transparent !important;
    &::after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background: $black;
      border-radius: 50%;
      left: 50%;
      bottom: 0px;
      transform: translateX(-50%);
      background-color: $dark-blue;
    }
  }
}

.fa-beat {
  color: $red;
}

#bar-style {
  height: 2em;
}
.avatar.w-96.pointer > i {
  margin: 115px 61px;
  border-style: none;
}

.login-spinner {
  padding-left: 12em;
}
@media (max-width: $screen-width-768) {
  .login-spinner {
    padding-left: 5em;
  }
}

#widgetForm {
  margin: 0px;
  background: transparent;
  padding: 0px !important;
  width: 60%;
}
#left,
#right {
  width: 50%;
}
#right {
  padding-left: 5%;
}
@media all and (max-width: $screen-width-760) {
  .containform {
    flex-direction: column;
  }
  #left,
  #right {
    width: 100%;
  }
  #right {
    padding-left: 10%;
  }
  #widgetForm {
    width: 90%;
  }
}
.forget {
  font-size: 80%;
  text-align: right;
  margin-bottom: 10%;
}
.form-group {
  input:focus {
    border-bottom: 3px solid $white-green;
  }
}
.normal-day-view {
  background-color: $light-gray !important;
}
#week_days {
  .col-md-1 {
    margin: 0 2.9%;
    padding: 1%;
    font-weight: bold;
    background-color: $white;
  }
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.blue,
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.orange {
  height: 60px;
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.light-gray {
  height: 110px;
  background-color: $light-gray;
  color: $black;
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.blue {
  background-color: $red;
  color: $white;
  border-left: 4px solid $red;
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.after {
  background-color: $red;
  color: $white;
  height: 60px;
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.orange {
  background-color: $yellow-500;
  border-left: 4px solid $yellow-500;
  height: 86px;
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.oneafter {
  background-color: $yellow-500;
  height: 86px;
  color: $black;
}

.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.red-100 {
  // height: 30px;
  border-left: 4px solid $red-100;
  background-color: $red-100;
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.red-10 {
  height: 60px;
  background-color: $white-red;
}

.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.dark-white {
  background-color: $light-gray;
  padding: 5px;
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.dark-white.d-flex.align-items-center {
  background-color: $white;
}
.timesheet-hours {
  height: 52.5px;
  margin:2px;
  border-radius: 3px;
}
.approvedHours{
  background-color: #3abf94;
  padding:5px;
  color:white;
}
.rejectedHours{
  background-color: $red;
  color: white;
  padding:5px;
}
.pendingHours{
  background-color: $dark-grey;
  color: white;
  padding:5px;
}
.futureDate{
  background-color: $light-gray
}
.timesheet-half-day{
  height: 42px;
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.indigovalueAfter {
  height: 86px;
  background-color: $indigo-500;
  color: $white;
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.indigovalueAfter1 {
  background-color: $indigo-500;
  height: 86px;
  color: $white;
}
.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end.fc-draggable.half {
  height: 60px;
}
.add-detail {
  display: flex;
  margin-bottom: 1em;
}
.add-Detail-email {
  background-color: $red-100;
  border-radius: 4px;
  padding-right: 5%;
  margin: 0 3%;
}
.add-Detail-security {
  background-color: $grey-150;
  border-radius: 4px;
  text-align: left;
  margin: 10px;
  margin-top: 11px;
}
@media (max-width: $screen-width-500) {
  .add-detail {
    display: block;
  }
  .add-Detail-email {
    margin-bottom: 1em;
  }
  .add-Detail-security {
    padding-bottom: 10px;
  }
}
.main-calendar {
  display: flex;
  flex-flow: column wrap;
}
.calendar-from-view {
  margin-top: 1em;
}
#date-calendar {
  .rdr-Calendar {
    background-color: $body-bg !important;
  }
}
.apply-date-detail {
  border: 1px solid $lightgray;
  border-radius: 5px;
  padding: 10px;
}
.option-leave-type {
  flex: 1;
}
.leave-number-days {
  padding: 2px 8px;
  border-radius: 3px;
}
.leave-cause,
.leave-document {
  flex: 1;
}
.leave-reason {
  margin-right: 11%;
}
.share-link {
  margin-right: 8%;
}
