/* 

*/

$full-black:  		rgba(0, 0, 0, 1);
$dark-black:  		rgba(0, 0, 0, 0.87);
$light-black: 		rgba(0, 0, 0, 0.54);
$min-black:   		rgba(0, 0, 0, 0.065);

$full-white:  		rgba(255, 255, 255, 1);
$dark-white:  		rgba(255, 255, 255, 0.87);
$light-white: 		rgba(255, 255, 255, 0.54);
$min-white:   		rgba(255, 255, 255, 0.1);
$light-gray:        #f3f4f5;
$white-red:         #f3e3e7;


$primary:           #0000FF;
$accent:            #ddd2f1;
$warn:              #fcc100;

$info:              #6887ff;
$info-100:          #7d39db;
$success:           #6cc788;
$warning:           #f77a99;
$danger:            #f44455;

$light:             #f8f8f8;
$grey:              #A0A0A0;
$dark:              #2e3e4e;
$black:				#2a2b3c;
$white:				#ffffff;
$light_-ocean:      #73b2d8;


$primary-color:     $dark-white;
$accent-color:		$dark-white;
$warn-color:		$dark-white;
$success-color:		$dark-white;
$info-color:		$dark-white;
$warning-color:		$dark-white;
$danger-color:     	$dark-white;
$light-color:		$dark-black;
$grey-color:		$dark-white;
$dark-color:		$dark-white;
$black-color:		$dark-white;


/* 
colour code defined here

*/
$white-green:       #50b798;
$lightgray:         rgb(211,211,211);
$warn-lightyellow:  #ffffda;
$succ-lightgreen:   #e2f5e2;
$pending-yellow:    #f5c731;
$red-danger:        #ff0000;
$pink-red:          #ffc0cb;
$light-back-red:    rgba(255, 0, 0, 0.1);
$light-dangerred:   #fcd6d6;
$active-tab:        #008000;
$indigo-after:      #3f51b5;
$dark-blue:         #0000ff;
$sky-blue:          #0e9bb1;
$sky-gray:          #839198;
$dark-sky-gray:     #535c61;
$light-sky-gray:    #ceefe4;
$light-greeness:    #3ba785;
$sea-green:         #26b28d;
$sea-blue:          #547ffe;
$sea-brown:         #807f7f;
$river-brown:       #cccccc;
$brown-sea:         #8e8a8a;
$fadded-white:      #DADDE5;
$ocean-green:       #55be94;
$light-grey:        #d3d3d3;
$white-light:       #F8F8FF;
$opacity-gray:      #dad5d56e;
$gray-origin:       #808080;
$blue-white:        #7094FF;
$brown-blue:        #9b9a9a;
$white-brown:       #dadada;
$opacity-black:     #000000e3;
$mix-gray:          #7179a1;
$gray-lightnes:     #cecdcd;
$grayes-gray:       #edeef1;
$whitess:           #f3f7f3;
$ocean-blue:        #7ca9dd;
$dark-grey:         #798892;
$light-greyish:     #e7e7e7;
$greenish:          #2e9876;
$greenish-50:       #2b8e6e;
$greenish-100:      #31a27d;
$greenish-150:      #2e9876;
$greenish-200:      #56c196;
$reddish:           #f22d2d;
$reddish-50:        #f12121;
$light-grey-50:     #a9a9a9;
$light-red:         #f05d5f;
$light-yellow:      #fbc348;
$white-grey :       #f7f5f5;
$brown-red:         #928585;
$reddiess-red:      #666;
$crimson-red:       #dc143c;
$back_color:        #ffcccc;
$bg_back_gray:      #747474;
$idx_brd_col:       #dcdcdc;
$lt_rvr_brown:      #cecece;
$box-shadow-brn:    #888888;
$blue-light-ocean:  #0099cc;
$dk_black:          #000000;


$html-bg:           #e0e0e0;
$body-bg:       	#f0f0f0;
$text-color:        $dark-black;
$text-muted:        $light-black;

$enable-shadows:	true;
$enable-hover-media-query: true;

$border-color:	 	rgba(120, 130, 140, 0.13);
$border-color-lt:	rgba(120, 130, 140, 0.065);
$border-color-lter:	rgba(120, 130, 140, 0.045);

$font-family-serif:         Georgia, "Times New Roman", Times, serif;

$font-size:          	  	0.875rem;
$line-height:			  	1.5;

$font-size-lg:            	1.5rem;
$font-size-md:              1.125rem;
$font-size-sm:            	0.80rem;
$font-size-xs:            	0.75rem;

$spacer:				  	1rem;
$spacer-x:				  	1rem;
$spacer-y:					1rem;

$link-color:              inherit;
$hover-color: 			  inherit;
$color-percent:           2.5%;
$color-lt-percent:        2.5%;
$color-dk-percent:        3.5%;

$border-radius-base:      3px;

$navbar-height:                  3.5rem;
$navbar-md-height:				 4rem;
$navbar-sm-height:               3rem;

$aside-width:                    12.5rem;
$aside-lg-width:                 13.75rem;
$aside-sm-width:                 11.25rem;
$aside-folded-width:             4rem;
$aside-folded-md-width:          5rem;
$aside-nav-height:               2.25rem;
$aside-nav-folded-height:        2.5rem;
$aside-nav-sub-height:           2rem;
$aside-nav-stacked-height:       2rem;

$footer-height:					 3.125rem;

$label-bg:                       darken($light, 25%);

$table-border-color:             $border-color-lter;
$table-striped-color:            rgba(0, 0, 0, 0.025);
$list-group-border:				 $border-color-lt;

$input-border:                   rgba(120, 130, 140, 0.2);
$input-border-focus:             rgba(120, 130, 140, 0.3);
$input-border-radius:            0;

$arrow-width:         			 8px;
$arrow-outer-color:              $border-color;

$switch-width:                   32px;
$switch-height:                  18px;
$switch-md-width:                40px;
$switch-md-height:               24px;
$switch-lg-width:                50px;
$switch-lg-height:               30px;

$ui-check-size:                  16px;
$ui-check-md-size:               18px;
$ui-check-lg-size:               30px;
$ui-check-sign-size:             6px;
$ui-check-sign-color:            $primary;
$ui-check-checked-border:        $input-border;
/* 
screen width size..
*/ 
$screen-lg-height: 670px !default;
$screen-width-991: 991px !default;
$screen-width-576: 576px !default;
$screen-width-767: 767px !default;
$screen-width-768: 768px !default;
$screen-width-769: 769px !default;
$screen-width-992: 992px !default;
$screen-width-1092: 1092px !default;
$screen-width-500: 500px !default;
$screen-width-760: 760px !default;
$screen-width-480: 480px !default;
$screen-width-765: 765px !default;
$screen-width-766: 766px !default;
$screen-width-997: 997px !default;
$screen-width-998: 998px !default;
$screen-width-481: 481px !default;
$screen-width-360: 360px !default;
$screen-width-480: 480px !default;
$screen-width-340: 340px !default;
$screen-width-575: 575px !default;
$screen-width-577: 577px !default;
$screen-width-1200: 1200px !default;
$screen-width-567: 567px !default;
$screen-width-989: 989px !default;
$screen-width-990: 990px !default;
$screen-width-540: 540px !default;
$screen-width-580: 580px !default;
$screen-width-600: 600px !default;
$screen-width-398: 398px !default;

/* FONT SIZE */
$font-size-10:10px !default;
$font-size-9:9px !default;
$font-size-14e:1.4em !default;
$font-size-15e:1.5em !default;
$font-size-12e:1.2em !default;
$font-size-10e:1em !default;
$font-size-10em:1rem !default;
$font-size-20e:2em !default;
$font-size-18:18px !default;
$font-size-08em:0.8rem !default;
$font-size-08e:0.85em !default;
$font-size-15:15px !default;
$font-size-12:12px !default;
$font-size-14:14px !default;
$font-size-13:13px !default;
$font-size-16:16px !default;
$font-size-17:17px !default;
$font-size-22:22px !default;
$font-size-10:10px !default; 
$font-size-11:11px !default;
$font-size-20:20px !default;
$font-size-29:29px !default;


