html {
  font-weight: 100;
  font-size: $font-size-initial;
}

body {
  overflow-x: hidden;
  color: $text-color;
}

a,
.dropdown-item,
.btn {
  cursor: pointer;
  transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out,
    border-color 0.1s ease-in-out;
  font-family: $font-family-base;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

th {
  font-weight: 600;
}

label {
  font-weight: 400;
}

strong {
  font-weight: 700;
}

ul ul,
ol ul {
  list-style: none;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

h1 small {
  font-size: 68%;
}

.btn-success:focus {
  background-color: $teal;
  border-color: $teal;
}
.btn-primary:focus{
    background-color: $blue;
    border-color: $blue;
}

.btn-danger:focus{
  background-color:$red;
  border-color:$red;
}

.form-check {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  &.disabled {
    cursor: not-allowed;
  }
}

.form-check input:checked ~ .checkmark {
  background-color: $teal !important;
}
.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: -8px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $white;
  border-radius: 6px;
 
}
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.form-check input:checked ~ .checkmark {
  background-color: $blue;
}
.form-check input:checked ~ .checkmark:after {
  display: block;
}