// @import "assets/font.scss";
@import "assets/scss/app.scss";
@import "assets/fullcalendar.theme.scss";
@import "generic/index";
@import "auth/index";
@import "template/index";
@import "manageRoles/manageRoles/index.scss";
@import "myDocuments/index";
@import "myProfile/index";
@import "policyDocuments/index";
@import "inventory/index";
@import "leave/index";
@import "team/index";
@import "manageUsers/index";
@import "manageWorkingHours/index";
@import "salary/index";
@import "attendance/index";
@import "healthStats/index";
@import "settings/index";
@import "showListMenu/index";
@import "landing/index";

input[type="checkbox"] {
  /* All browsers except webkit*/
  transform: scale(1.5);

  /* Webkit browsers*/
  -webkit-transform: scale(1.5);
}
.m-t-0 {
  margin-top: 0;
}
.m-b-0 {
  margin-bottom: 0;
}
.m-l-0 {
  margin-left: 0;
}
.m-r-0 {
  margin-right: 0;
}
.m-y-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
a.primary:hover {
  background-color: #0bb69f;
}

a.text-primary:hover {
  color: #0bb69f;
}

.text-primary,
.text-primary-hover a:hover {
  color: #0cc2aa !important;
}

a.warn:hover {
  background-color: #efb700;
}

a.text-warn:hover {
  color: #efb700;
}

.text-warn,
.text-warn-hover a:hover {
  color: #fcc100 !important;
}

a.accent:hover {
  background-color: #a180da;
}

a.text-accent:hover {
  color: #a180da;
}

.text-accent,
.text-accent-hover a:hover {
  color: #a88add !important;
}

a.success:hover {
  background-color: #63c381;
}

a.text-success:hover {
  color: #63c381;
}

.text-success,
.text-success-hover a:hover {
  color: #6cc788 !important;
}

a.info:hover {
  background-color: #5b7dff;
}

a.text-info:hover {
  color: #5b7dff;
}

.text-info,
.text-info-hover a:hover {
  color: #6887ff !important;
}

a.warning:hover {
  background-color: #f66e90;
}

a.text-warning:hover {
  color: #f66e90;
}

.text-warning,
.text-warning-hover a:hover {
  color: #f77a99 !important;
}

a.danger:hover {
  background-color: #f3384a;
}

a.text-danger:hover {
  color: #f3384a;
}

.text-danger,
.text-danger-hover a:hover {
  color: #f44455 !important;
}

a.dark:hover {
  background-color: #293846;
}

a.text-dark:hover {
  color: #293846;
}

.text-dark,
.text-dark-hover a:hover {
  color: #2e3e4e !important;
}

a.blue:hover {
  background-color: #1590f2;
}

a.text-blue:hover {
  color: #1590f2;
}

.text-blue,
.text-blue-hover a:hover {
  color: #2196f3 !important;
}
.stop-scrolling {
  overflow: visible !important;
}
.word-break-all {
  word-break: break-all;
}

#chat-sidebar-user-group {
  background: unset;
  .user-chatbar-img {
    flex: 0 0 auto;
  }
  .userDetails {
    flex: 1;
    overflow: hidden;
    p {
      padding-top: unset;
    }
  }
}

.highlight-user{
  border: 5px solid !important;
}

// #table-content {
//   display: block;
//   wi

// }
.wizardNavigation.d-block.nav.nav-pills {
  width: 36%;
  margin-right: 2%;
}
.add-Detail-email {
  font-size: 11px;
  padding-right: 11%;
  padding-bottom: 7px;
  margin: 10px;
}
.add-Detail-security {
  font-size: 11px;
  padding-right: 13%;
}

#add-new-Employee {
  background-color: transparent;
  .formWizard {
    :global {
      .progress {
        margin-top: 6px;
        margin-bottom: 10px;
      }

      .form-group:last-child {
        margin-bottom: 0;
      }

      .pager {
        display: flex;
        margin: 18px 0;
        flex-direction: row;
        justify-content: space-between;

        .disabled button {
          cursor: not-allowed;
          opacity: 0.65;
        }
      }

      #datepicker .input-group {
        width: 100%;
        display: flex !important;

        .form-control {
          border-bottom-right-radius: 0.25rem;
          border-top-right-radius: 0.25rem;
        }

        .input-group-addon {
          display: none;
        }
      }
    }
  }

  .wizardNavigation {
    :global {
      .active {
        color: $white;
      }
    }

    a {
      padding: 10px 0;
      color: black;
      // background: #d6dee5;;
    }
  }
}
#add-new-Employee {
  .Widget_widgetBody__EujDo.widget-body {
    display: flex;
  }
}

.alert-bold {
  font-weight: 600;
}

#navItem-size {
  float: none;
}

.delete-role-btn {
  visibility: hidden;
}

.role-user-div:hover {
  .delete-role-btn {
    visibility: visible;
  }
}
.add-btn-zxc {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
  font-weight: 600;
  .glyphicon {
    top: 0 !important;
  }
}
@media (max-width: 767.98px) {
  #user-action {
    display: block !important;
  }
}
@media (max-width: 500px) {
  //   #add-new-Employee {
  //     .Widget_widgetBody__EujDo.widget-body  {
  //       display: block;
  //       width: 100%;
  //     }
  //       .wizardNavigation.d-block.nav.nav-pills {
  //           text-align: center;
  //           width: 100%;
  //       }

  //   }
  .add-Detail-security {
    padding-right: 0px;
    width: 94%;
  }
  #add-new-Employee {
    .Widget_widgetBody__EujDo.widget-body {
      display: block;
    }
  }
  .wizardNavigation.d-block.nav.nav-pills {
    width: 100%;
    margin-right: 0%;
  }
}

.app-content {
  .formWizard.add-new-Employee {
    background-color: unset;
    border-radius: unset;
    box-shadow: unset;
  }
}
.tab-content {
  border-radius: 8px;
  padding-left: 10px;
}
#navItem-size {
  .active.nav-link {
    color: black;
    background-color: white;
    padding: 10px 0;
    font-weight: 500;
  }
}

.generic-sticky-header {
  position: sticky !important;
  top: 0 !important;
}
@media(max-width:$screen-width-398){
  .generic-sticky-header{
    .heading{
      font-size: 14px;
    }
  }
}

.top-menu {
  padding-right: 2.5em;
}

@media (max-width: 767px) {
  .top-menu {
    padding-right: 0.8em;
  }
}
@media (max-width: 567px) {
  .top-menu {
    padding-right: 0.4em;
  }
}

.table-spinner-td {
  margin-top: 20px;
}

.table-striped {
  tbody tr.rh-stat-tr-row:nth-of-type(odd) {
    background-color: #ffffff;
  }
  tbody tr.rh-stat-tr-row:nth-of-type(even) {
    background-color: $table-bg-accent;
  }
  tbody tr.rh-stat-tr-row > td {
    border-top: 1px solid #d6dee5;
  }
}

.col-md-5.rh-stat-year.rh,
.row.rh-stats-year {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.thumb-sm-img {
  width: 37px;
  img {
    max-width: 100%;
    border: 5px solid $brand-success;
  }
}

.loading-dot:after {
  content: " .";
  // color: white;
  animation: dots 1s steps(5, end) infinite;
}

@media(max-width:576px){
  .table-responsive{
    width: calc(100vw - 15px)!important;
   }
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #dc3545;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #dc3545, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 #dc3545, 0.5em 0 0 #dc3545;
  }
}
