@import "../../styles/app";

.root {
  height: 100%;
  position: relative;
  left: 0;
  transition: left $sidebar-transition-time ease-in-out;

  &.chatOpen {
    left: -($sidebar-width-open + $sidebar-width-closed);
  }
}

.wrap {
  position: relative;
  min-height: 100vh;
  display: flex;
  margin-left: 50px;
  flex-direction: row;
  left: $sidebar-width-open - $sidebar-width-closed;
  right: 0;
  transition: left $sidebar-transition-time ease-in-out;

  @media (max-width: breakpoint-max(sm)) {
    margin-left: 0;
    left: $sidebar-width-open;
  }
}
.containerLayout {
  flex: 1;
}
.contentFull {
  width: 100%
}
.contentWithList{
  width: calc(100% - 0.5rem - 50px);
  @media (max-width: breakpoint-max(sm)) {
    width: 100%;
  }
}
.contentMinimize {
  width: calc(100% - 0.5rem - 250px);
}

.sidebarClose div.wrap {
  left: 0;
}

.sidebarStatic .wrap {
  transition: none;
  left: 0;
  margin-left: $sidebar-width-open;
}

.content {
  position: relative;
  min-height: 100%;
  flex-grow: 1;
  // 20px for footer height
  // padding: $content-padding $content-padding ($content-padding + 20px);
  padding: 0.5em;
  background-color: $body-bg;

  @media (max-width: breakpoint-max(sm)) {
    padding: 0.5em;
  }

  // hammers disallows text selection, allowing it for large screens
  @media (min-width: breakpoint-min(sm)) {
    user-select: auto !important;
  }
}

.contentFooter {
  position: absolute;
  bottom: 15px;
  color: $text-muted;
}
.w-8{
  width:  8px;
  height: 8px;
  display: inline-block;
}
.w-16{
  width:  16px;
  height: 16px;
  display: inline-block;
}
.w-20{
  width:  20px;
  height: 20px;
  display: inline-block;
}
.w-24{
  width:  24px;
  height: 24px;
  display: inline-block;
  text-align: center;
}
.w-32{
  width:  32px;
  height: 32px;
  line-height: 32px;
  display: inline-block;
  text-align: center;
}
.w-40{
  width:  40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}
.w-48{
  width:  48px;
  height: 48px;
  line-height: 48px;
  display: inline-block;
  text-align: center;
}
.w-56{
  width:  56px;
  height: 56px;
  line-height: 56px;
  display: inline-block;
  text-align: center;
}

.w-64{
  width:  64px;
}
.w-96{
  width:  96px;
}
.w-128{
  width:  128px;
}

.w-xxs{
  width: 60px;
}
.w-xs{
  width: 90px;
}
.w-sm{
  width: 120px;
}
.w{
  width: 180px;
}
.w-md{
  width: 200px;
}
.w-lg{
  width: 240px;
}
.w-xl{
  width: 280px;
}
.w-xxl{
  width: 320px;
}

.w-full{
  width: 100%;
}
.w-auto{
  width: auto;
}
.h-auto{
  height: auto;
}
.h-full{
  height: 100%;
}
.h-v{
  height: 100vh;
}
.h-v-5{
  height: 50vh;
}
