@import "login";
@import "logout";
@import "forgotPassword";

.home-login{
  .logo-container {
    padding: 10px 20px;
    max-width: 360px;
    margin: 0 auto;
  }
  
}
.widget-body{
  .form-group{
    .form-control{
      border-radius: 4px;
    }
  }
}
#login{
  .alert{
    width: 81%;
  }
  .container{
    padding-top: 0px;
    padding-right:0px;
    margin-right: 0px;
  }
}

.logo-container {
  background-color: #284665;
  padding: 30px 40px;
  margin: 1rem;
  border-radius: 6px;
}

.login-footer{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}
@media (max-width: 543px) and ( min-width: 340px) {
  .logo-container {
    margin: .5rem 1rem !important;
  }
  .w-auto-xs {
    width: 320px;
  }
}
