
 .del-text{
   color:$sea-blue;
   cursor: pointer;
 }
.row-0 {
  padding: 0 0 0 0 !important;
 }
.t-pointer {
  cursor: pointer;
 }
 .app-body{
   width: 100%;
 }
 .row.view-list {
   margin-left:-5px;
   margin-right: 0;
 }
 .team-add-button {
  margin-left:8px;
}

.viewTeam-table.table-condensed thead > tr > th:nth-child(2){
  text-align: center;
}

.viewTeam-table.table-condensed tbody > tr>td>span:nth-child(2){
  color:$sea-brown;
}
.viewTeam-table.table-condensed tbody > tr>td:nth-child(2){
  text-align:center;
}
.view-teamdetail-table > thead {
  text-align: center;
}
.add-salary-view {
  width: 40% !important;
}
.addsalary-btn {
  height: 30px;
  font-size: $font-size-13 !important;
}
.page_team_page {
  margin-top: 10px;
}
.my_salary_table_body > th {
  font-size: $font-size-15;
}
.myleavetable {
  th {
    font-size: $font-size-15;
  }
}
.my_salary_table_body {
  td {
    font-size: $font-size-13;
  }
}
.striped_salary_view {
  font-size: $font-size-15;
}
.striped-salary-data {
  font-size: $font-size-13;
}


.viewTeam-table .table > thead > tr > th{
  border-color:$river-brown;
  padding-top: 1em;
  padding-bottom: 1em;
}
.viewTeam-table .table > tbody> tr > td{
  border-color:$river-brown;
  padding-top: 1em;
  padding-bottom: 1em;
}
.view-list .form-control{
  display:inline-block;
  width:72%;
}

.view-list .form-group{
  margin-bottom: 0 !important;
}
.accessDenied{
  color:$red-danger;
}

.viewTable-detail .table > thead > tr > th{
  border-color:$river-brown;
  padding-top:0.5em;
  padding-bottom: 0.5em;

}
.viewTable-detail .table > tbody > tr > td{
  border-color:$river-brown;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.user-icon-col{
  display:flex;
}
#table_heading{
  white-space: pre;
  font-size: $font-size-15;
  text-align: left;
}
.body_table {
  font-size: $font-size-13;
  text-align: left;
}
.label_detail_select {
  white-space: pre;
  padding-top: 7px;
}
.user-icon{
  margin-top:0.5em;
}

.addTeamBtn{
  text-align: right;
}

.team-list-header-titles{
  padding: 2% 5px 0px 5px;
}
.addTeamBtn.btn{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 8px;
}
.bar_team_page {
  background-color: $white;
   padding: 1em;
}
@media (max-width :$screen-width-991) and (min-width:$screen-width-769)  {
  .table-responsive.viewTeam-table.table-condensed.margin-t{
    padding-left: 16px !important;
    padding-right: 16px !important;
  } 
  .col-xs-12.team-details-table{
    padding: 0px 16px 0 16px;
  }
}
@media (max-width :$screen-width-768){
  .addTeamBtn.btn {
    padding-right: 0px;
  }
  .team-list-header-titles{
    padding-left: 2px;
    padding-right: 7px;
  }
  .table-responsive.viewTeam-table.table-condensed.margin-t{
    padding-right:0px !important;
    padding-left: 17px !important;
  }
  .value-table-row >
    .row {
      margin-right:0;
    }
    .bar_team_page {
      padding-left: 0;
      padding-right: 0;
    }
    .team_row_view {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
    .team_page_table > section {
      padding: 0;
    }
    .detail-team-view > .row {
      margin-right:0px;
    }
    .detail-team-view > .row > .col {
      padding-right: 0px;
    }
    .detail-team-view > .row > .col > section {
      padding: 0px;
    }
    .team_padding_list {
      padding-right: 0 !important;
    }
  
}

#date-picker{
    .keyboard-date-picker{
      width:100%;
      padding: 2px 0px 2px 14px;
      border: 1px solid $gray-400;
      background: $white;
      border-radius: 5px;
      margin-top: 0px;
      margin-bottom: 0px;
      div:first-child::before{
        border:none; 
     }
      div:first-child::after{
        border:none;
     }
    input{
      color:$brown-sea;
    }
  }
}

.MuiPickersCalendarHeader-switchHeader > div{
    height: 33px;
}

@media (max-width :$screen-width-567){
    .page_team_page{
    .team-view-navvar{
      .tab-one{
        width:70% !important;
      }
      .tab-twco{
        width:30%;
      }
    }
  }
}
@media (min-width :$screen-width-567){
  #date-picker{
    margin-left: 8px;
    margin-right: -5px;
  }
  .holding_datepicker {
    #date-picker{
      margin:0;
     .keyboard-date-picker {
       padding-bottom: 4px;
     }
    }
  }
}

.team-view-navvar{
  align-items: center;
  .tab-one, .tab-twco{
    width:50%;
    display: flex;
  }
  .tab-twco{
    flex-direction: row;
    justify-content: flex-end;
    .form-group.d-flex{
      margin-bottom: 0;
    }
  }
}