#config-page-heading{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;

  font-size: medium;

  .app-name-input-div {
      float:none;
    }

  .row:not(:first-child){
    margin-top: 20px;
  }

    .stats-add-icon-div{
        float: none;
    }
    .stats-add-icon{
        float: none;
    }

  .delete-button {
    font-size: 15px !important;
    color: red;
    cursor: pointer;
    line-height: 2 !important;
  }

  .stats-add-icon-div {
    margin-left:10px;
  }

}

.pop-up{
  opacity:1;
}