@import "configPageHeadings";

.content-health-stats{
    @media (max-width: 989px) and (min-width: 766px){
        margin-left: 4px;
    }
    h5{
        float: left;
        font-size: 10px ;
        font-weight: 700;
    }
    .m-0{
        margin: 0px !important; 
    }
    .m-10{
        margin-top: 10px !important; 
    } 
    .bg-white{
        background-color: white;
        padding-top: 10px; 
    }
    .b-health-stats{
        width: 49.5%;
    }
    .b2-health-stats{
        width: 49.5%;
        // margin-left: 1%;
    }
    .attendance-stats{
        thead{
            tr{
                th{
                   padding: 5px;
                   text-align:  center;
                   border-color: rgba(120, 130, 140, 0.045); 
                }
            }
        }
        tbody{
            tr{
                td{
                    padding: 5px;
                    text-align: center;
                    border-color: rgba(120, 130, 140, 0.045);
                    i{
                        font-size: 15px !important;
                        color: red;
                        cursor: pointer;
                        line-height: 0.6 !important;
                    }
                }
            }
        }
    }
     
    .secret-key-table{
        thead{
            tr{
                th{
                   padding: 5px;
                   border-color: rgba(120, 130, 140, 0.045); 
                }
            }
        }
        tbody{
            tr{
                td{
    
                    padding: 5px;
                    border-color: rgba(120, 130, 140, 0.045);
                    .stats-delete-icon{
                        font-size: 24px !important;
                        color: red;
                        cursor: pointer;
                    }
                    .stats-refresh-icon{
                        margin-left: 3px;
                        font-size: 15px !important;
                        color: orange;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .secret-key-table.mrl-0{
        .field-column{
            padding-left: 0px;
        }
    }
    .leave_stats{
        .form-control{
            min-height: auto !important;
            font-size: 10px !important;
            height: 30px !important;
        }
    } 
}
.app-name-input-div{
    padding: 0px 4px;
    float:right;
    .app-name-input{
        font-size: 10px;
        height: 22px;
        min-height: 0px;
    }
}
.stats-add-icon-div{
    float: right;
    margin-bottom: 13px;
    .stats-add-icon{
        float: right;
        font-size: 22px !important;
        color: green;
        cursor: pointer;
    }
}
.secret-key-block{
    background-color: white;
    padding-top: 10px;
}
@media screen and (max-width: 767px){
    .secret-key-block{
        margin-left: 0px;
    }
    .content-health-stats{
        .b-health-stats{
            width: 100%;
        }
        .b2-health-stats{
            width: 100%;
            // margin-top: 20px;
            // margin-left: 0;
        }
    }
}
.btn-success.setting-page{
    padding: 0.375rem .3rem;
    font-size: .9rem;
}
.input-field-attendance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.display-none {
    display: none;
  }

  .switch {
    box-sizing: content-box;
  }

  .switch input {
    display: none;
  }

  .switch i {
    display: inline-block;
    cursor: pointer;
    padding-right: 20px;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    border-radius: 20px;
    box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.5);
  }

  .switch i::before {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    padding: 1px;
    border-radius: 20px;
    background: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  }

  .switch :checked + i {
    padding-right: 0;
    padding-left: 20px;
    background: rgb(100, 189, 99);
  }
.dropdown-toggle-split.mr-xs.weeklyhours{
    background: #ffffff;
    margin-left: 16px;
}
.dropdown-toggle-split.mr-xs.weeklyhours::after{
    margin-left: 10px;
}
.table-responsive.secret-key-table.display-block-none{
    display: inline-table;
}
.stong-textt{
    font-weight: 700;
}
.stong-text{
    display: flex;
}
.font-color-controller{
    font-weight: 300;
    font-size: 15px;
    color: #000000;
    .b{
        font-weight: 600;
    }
}
.dropdown-controller-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-group.remove-margin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.rh-content-wrapper{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(120, 130, 140, 0.045);
}
.rh-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.app-name-input-div{
    .display-inline-block.checkbox-ios{
        margin-bottom: 0px !important;
    }
}
.rh-dropdown-item, .rh-extra-option{
    min-width: 26%;
}