.is-read-document {
   font-size: $font-size-18;
  color:$river-brown !important;
 }
 .is-read-document:hover{
  color:$river-brown;

 }
 .view_only_mobile,
 .ismobile_show_doc {
  display: none;
}
.mobile-view-table {
  overflow: hidden;
}
.is-not-read-document {
  font-size: $font-size-18;
  color: $gray-origin !important;
 }
 .icon_closebar {
  width: 35px;
}
.logo_openbar {
  width: 200px;
}
 .file-type{
  color:$river-brown
 }

 .rem-fade{
   opacity:1;
 }

 .policy-doc-table .table > thead > tr > th{
  border-color: $river-brown;
 }

 .policy-doc-table .table > tbody > tr > td{
  border-color: $river-brown;
 }

 .policy-doc-table img{
   cursor: pointer;
 }
 .link_policy_doc {
   font-size: $font-size-12;
 }
 .doc_name_file {
   font-size: $font-size-10e;
 }

 @media(max-width:$screen-width-768) {
  .border-remove-table
  .mobile-view-table {
    border: 1px solid $light-grey;
  }
  .policy-doc-table .table > tbody > tr > td{
    padding-left:2em;
  }
  .policy-doc-table .table > tbody > tr > td .row .col-md-11{
    white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  }
  .policy-doc-table img{
    width: 12% !important;
  }
  #view.policy-doc-table #rem-padding .no-gutter.row > .col{
   padding: 0% !important;
  }
  .laptop-padding {
    padding: 0 !important;
  }
  .holiday-table {
    border: 1px solid $light-grey;
  } 

 }
 .search-employee-icon {
  font-size: $font-size-22;
  padding-left: 15px;
}
.close-list-name {
  padding-top: 0px !important;
  margin-top: 40px;
}
.open-list-name {
 padding-top: 0px !important;
 margin-top: 40px;
}
.policyDocumentsList {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  background-color: $white;
  border-radius: 2px;
  padding: .75rem !important;
  h5{
    margin: 0.25rem 0 0 0;
  }
  a{
    font-size: 70%;
    line-height: 10px;
    word-wrap: break-word;
  }
}
.paddingResponsive {
  padding: 0 3rem;
  transition: .2s;
 }
.icon-button {
  width: 4%;
 }
 .policy_document_title,
 .policy_document_name
 {
   font-size: $font-size-12;
 }
 .policy_document_formate {
  font-size: $font-size-12;
  font-weight: 700;
  color: $river-brown;
 }
 .policy-document-td{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
 }
 .w-100.policy-document{
   margin-left: 1rem;
 }
@media (max-width: $screen-width-992) and (min-width: $screen-width-540) {
  .paddingResponsive{
    padding: 0 2rem;
    transition: .2s;
  }
}

@media (max-width: $screen-width-540) {
  .paddingResponsive{
    padding: 0 1rem;
    transition: .2s;
  }
}
.my-doc-table .overflow-auto.row{
  flex:1;
}

.my-doc-table{
  overflow: hidden;
}

@media(max-width:$screen-width-576){
  #uploadDoc.form-my-doc{
    margin-right: 0 !important;
  }
  .isMobilePreview {
    display: none;
  }
  .policy-doc-table img {
    width: 10% !important;
  }
  .ismobile_show_doc {
    display: block;
    margin-bottom: 0;
  }
  .link_policy_doc {
    display: none;
  }
  .policy_document_title {
    color: $gray-origin;
    font-size: $font-size-14;
    display: none;
  }
  .show_doc_picture  {
    width: 15%;
  }
  .doc_name_mobile {
    width:44%;
  }
  .ismobile_button{
    font-size: $font-size-10 !important;
  }
  .link_document_insert {
    padding: 0 !important;
    margin: 8px 0 ;
  }
  .document_upload_submit {
    padding: 0 !important;
  }
  .view_only_mobile {
    display: block;
    font-size: $font-size-12;
  }
  .mobile_policy_view_doc {
    display: flex;
    align-items: center;
  }
  .policy_document_name {
    display: none;
  }
  #rem-padding > .row {
    margin-right:0;
  }
  #rem-padding > .row > .col {
    padding-right:0;
  }
  
  .mobile-view-table > thead {
    display: none;
  }
}