@import "../../../styles/variables";

.form-check .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 7px;
  border: solid $white;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
