
@import '../../../styles/assets/scss/variables.scss';
@import '../../../styles/variables';
#date-picker{
    .keyboard-date-picker{
      width:100%;
      padding: 2px 0px 2px 14px;
      border: 1px solid $gray-400;
      background: $white;
      border-radius: 5px;
      margin-top: 0px;
      margin-bottom: 0px;
      div:first-child::before{
        border:none; 
     }
      div:first-child::after{
        border:none;
     }
    input{
      color:$brown-sea;
    }
  }
}
@media (min-width :$screen-width-567){
    #date-picker{
      margin-left: 8px;
      margin-right: -5px;
    }
    .holding_datepicker {
      #date-picker{
        margin:0;
       .keyboard-date-picker {
         padding-bottom: 4px;
       }
      }
    }
  }