.emp-action-btn {
  .add-new-emp {
    width: 25%;
  }
  .disable-user {
    width: 25%;
    order: 2;
  }
  .slack-notification {
    width: 50%;
    margin-top: 7px;
    .btn-wrapper {
      width: 234px;
      display: block;
      margin: 0 auto;
      padding: 4px;
    }
    label,
    span {
      float: left;
    }
    span {
      margin-left: 10px;
    }
  }
  .disable-user {
    button {
      float: right;
    }
  }
}
.emp_email_value {
  width: 150px;
}
.padding-x-5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.addEmployee-label{
  font-size:$font-size-14;
}

.profile-input {
  @extend .padding-x-5;
}

.doc-frame iframe{
  width:100%;
}

.padding-x-5.checkbox.d-flex.abc-checkbox-primary{
  flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.send-slack-msg-checkbox {
  margin-left: 20px !important;
  position: absolute;
  cursor: pointer;
}
.add-new-emp-dialog {
  width: 70%;
  max-width: none;
  .input-wrapper {
    padding: 5px;
  }
}
.upload-doc-dialog {
  width: 75%;
  max-width: none;
}
.al_employ_image {
  height: 50px;
  border-radius: 50%;
}
.emp_mail_id {
  width: 150px;
}
.employee-life-cycle {
  .emp-life-cycle {
    cursor: pointer;
    padding: 10px 0;
    .expand-icon {
      position: absolute;
      right: 0;
      top: 10px;
      padding: 5px;
    }
  }
  .steps {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 60px;
    position: relative;
    .step-toggle-button {
      position: absolute;
      display: block;
      float: right;
      right: 0;
      top: 4px;
    }
  }
  .steps:hover {
    background: rgba(204, 204, 204, 0.17);
    border-radius: 5px;
  }
  .life-cycle-header {
    font-size: $font-size-13;
    font-weight: 600;
  }
  .life-cycle-category {
    padding-bottom: 10px;
  }
}
.employee-profile {
  width: 130px;
  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.employee-details {
  position: relative;
  height: 30px;
  display: flex;
  font-size:$font-size-13;
  align-items: center;
  height: 50px;
  .profile-image {
    max-width: 54px;
  }
  .img-wrapper {
    height: 30px;
    width: 30px;
    display: block;
    margin: auto;
    border-radius: 50%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .pan-card {
    width: 10%;
    min-width: 50px;
  }
  .cell {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.add-employee-loader{
  width: 100%;
  text-align: center;
}
.before_loading_data {
  font-size:$font-size-16;
  text-align: center;
  margin-top: 15px;
  color: $opacity-black;

}
.load_more {
  border: 1px solid $dark-blue !important; 
  background-color: $dark-blue !important;
  color: $white !important;
}

.hash-icon{
  font-size:medium;
}

.profile-doc-preview{
  width:200px;
  height:auto;
}
  .upload-doc-h4{
    margin-left: 1rem;
  }
@media (max-width: $screen-width-767) {
  .emp-action-btn {
    .add-new-emp {
      width: auto;
      flex: 1;
    } 
    .disable-user {
      width: 100%;
      order: unset;
      flex: 1;
      padding: 0 2rem;
      button{
        width:100%;
      }
    }
    .slack-notification {
      width: 100%;
      flex: 1;
      .btn-wrapper{
        text-align: center;
        span {
          float: none;
          div{
            margin: auto
          }
        }
        label{
          float: none;

        }
      }
    }
  }
  .profile-input {
    width: 100%;
  }
  .upload-doc-dialog {
    .title {
      font-size: $font-size-15 !important;
      padding: 15px !important;
    }
    .body {
      font-size: $font-size-13 !important;
    }
  }
  .add-new-emp-dialog {
    .title {
      font-size: $font-size-15 !important;
      padding: 10px !important;
    }
    .body {
      font-size: 13px !important;
      padding: 0 10px 10px !important;
    }
    .input-wrapper {
      width: 100%;
    }
  }
  .employee-life-cycle {
    .life-cycle-category {
      width: 100%;
    }
  }
}
.dialog-class {
  width: auto !important;
  max-width: 900px !important;
}
.bg-light.manage-users-nav-bar{
  .active.nav-link{
    background: $white !important;
  }
}
.list-of-employee {
  align-items: center;
  color:$mix-gray;
  font-weight: 600;
  .img-wrapper {
    margin: 0px;
  }
}
.employee-title {
  font-style: STATIC;
}
#manage-user {
  .box {
    background-color: transparent;
    box-shadow: none;
  }
  .disable-user{
    display: flex;
    flex-direction: column;
    .btn:last-child{
      margin-top: 15px;
    }
    @media (max-width:$screen-width-576){
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    @media (min-width:$screen-width-360) and (max-width:$screen-width-576){
      flex-direction: row;
      .btn:last-child{
        margin-top: 0;
      }
    }
  }
}
.employee-details {
  .salary-title {
    color: $black;
    font-weight: 600;
    border-color: $gray-lightnes;
    font-size: $font-size-15;
    text-align: center;
    padding: 10px 16px;
    text-transform: uppercase;
  }
}
.employee-details {
  .cell-item {
    border-color: $gray-lightnes;
    text-align: center;
  }
}
.allemp-page-row {
  display: flex;
  justify-content: space-between;
  white-space: pre;
  font-size:$font-size-15;
  text-align: center;
}
.emp-personal-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  color: $gray-origin;
}
.body_for_all_emp {
  font-size: $font-size-13;
  text-align: center;
}
.all_employ_detail {
  font-size: $font-size-12;
}
.tax-border {
  border:1px solid $light-grey;
  border-top:0;
}
.next-page {
  text-align: center;
  margin-top: 15px;
}

.add-new-employee-wrapper #navItem-size.nav-item .nav-link{
  border-radius: 5px;
}

.add-new-employee-wrapper .nav>li>a:hover{
  background-color: transparent;
}

.formAddNewEmployee .datepicker #date-picker{
  margin-left:0;
  margin-right:0;
}

.add-new-employee-wrapper .tab-content{
  padding-right:10px;
}
.editLink{
  cursor: pointer;
  color:$sky-blue;
}
.editLink:hover{
 text-decoration: underline;
}

.employees-header{
  font-size: 12px;
  font-weight: 500;
}

@media (max-width:$screen-width-480){
  .add-new-employee-wrapper.col{
    padding-right:0px !important;
  }
  #add-new-employee{
    padding-right: 12px;
  }
  .personalInfo{
    margin-top: 1em;
    padding-bottom: 1em;
  }
  .personalInfoComment{
    padding-bottom: 1em;
  }
}

@media(max-width:$screen-width-767){
  .basicInfo{
    padding-left: 1em !important;
   }
}


@media(max-width:$screen-width-991){
  .basicInfo .input-wrapper{
    padding-right: 1.7rem !important;
    padding-left:1em !important;
  }
}
@media (min-width: $screen-width-998) {
  .users-tabs-wrapper{
    margin-left: 20px;
  }
}

@media (max-width: $screen-width-997) and (min-width: $screen-width-766) {
  .users-tabs-wrapper{
    margin-left: 17px;
  }
}

@media (max-width: $screen-width-765) {
  .users-tabs-wrapper{
    margin-left: 10px;
  }
}

@media (max-width: $screen-width-480) {
  .add-new-employee-wrapper{
    padding-left: 0 !important;
  }
}

.row.salary-row-bg.hover:hover{
  background:$grayes-gray;
}
.btn.btn-outline-primary.primary{
  border-color: $dark-blue;
}
.btn.btn-outline-primary.primary:hover{
  background-color:$dark-blue;
}
.ml-4.mt-2.total-emp-salary{
  font-size: $font-size-12;
  margin-top: 1rem !important;
  small{
    font-size: $font-size-12;
  }
}

@media only screen and (max-width: $screen-width-767) {
  #manage-user > .box > .p-a {
    padding: 0 !important;

  }
  #manage-user {
    padding: 0;
  }
  #content{
    .app-body{
      .ex-employee-details{
        max-width: 100%;
      }
    }
  }
}

@media only screen and (max-width: $screen-width-576) {
  .employees-header {
    flex-direction: column;
  }
  .employees-header > .total-emp-salary {
    margin-left: 0 !important;
    padding-bottom: 1em;
  }
}

