@import '../../../styles/assets/scss/variables.scss';

.box,
.box-color{
	background-color:$full-white;
	position: relative;
	margin-bottom: 1.5rem;
}

.box-header{
	position: relative;
	padding: 1rem;
	h2{
		margin: 0;
		font-size: 1.2rem;
		line-height: 1;
	}
	h3{
		font-size: 1.1rem;
	}
	h4{
		font-size: 1rem;
	}
	small{
		display: block;
		margin-top: 4px;
		opacity: 0.6;
	}
}

.box-body{
	padding: 1rem;
}

.box-footer{
	padding: 1rem;
}

.box-divider{
	border-bottom:1px solid $border-color;
	margin: 0 16px;
	height: 0;
}

.box-tool{
	position: absolute;
	right: 16px;
	top: 14px
}

.box-radius-1x {
	&,
  	.box,
  	.box-color{
		border-radius: 2px;
	}
}
.box-radius-2x {
	&,
  	.box,
  	.box-color{
		border-radius: 3px;
	}
}
.box-radius-3x {
	&,
  	.box,
  	.box-color{
		border-radius: 4px;
	}
}

.w-64{
  width:  64px;
}
