@import '../../../styles/assets/scss/variables.scss';

.heading{
    font-weight: 600;
    word-spacing: 5px;
}
.small-head{
    font-size:$font-size-14e ;
}
.medium-head{
    font-size: $font-size-15e;
}