.app-header {
  .user-list-icon {
    // display: none;
    float: right;
    margin-top: 9px;
    // padding: 6px 23px;
    cursor: pointer;
    font-size: 27px;
    color: rgb(39, 39, 71);
  }
  .user-list-icon:hover {
    background: rgba(220, 220, 220, 0.45);
    transition: background 1s;
  }
}
.nav-dashboard {
  background-color: #284665;
  width: 100%;
  color: #fff;
  text-align: center;

  .p-dashboard {
    display: inline-block;
    padding-right: 2em;
    cursor: pointer;
  }
}
.generic-header-spinner {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

