@import "generic/color";
@import "generic/usersList";
@import "generic/userRolesList";
@import "generic/userHorizontalView";
@import "generic/react-date-picker";
@import "generic/header";
@import "generic/dialoag";
@import "react-date-picker.scss";
@import "loaderMenuDefault.scss";

.pointer {
  cursor: pointer;
}

.box-shadow-deep {
  box-shadow: 0px 3px 21px -6px grey;
  transition: 0.6s;
}

.box-shadow-deep:hover {
  box-shadow: 0px 6px 40px -2px grey;
  transition: 0.4s;
}
// scroll design
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

.scroll::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}
.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2e3e4e;
}
.responsive-p-x-md {
  padding-left: 2rem;
  padding-right: 2rem;
  transition: 0.2s;
}
.responsive-p-x {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  transition: 0.2s;
}
.responsive-p-x-sm {
  padding-left: 1rem;
  padding-right: 1rem;
  transition: 0.2s;
}
@media (max-width: 992px) and (min-width: 540px) {
  .responsive-p-x-md {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    transition: 0.2s;
  }
  .responsive-p-x {
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.2s;
  }
  .responsive-p-x-sm {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
    transition: 0.2s;
  }
}
@media (max-width: 540px) {
  .responsive-p-x-md {
    padding-left: 1rem;
    padding-right: 1rem;
    transition: 0.2s;
  }
  .responsive-p-x {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    transition: 0.2s;
  }
  .responsive-p-x-sm {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    transition: 0.2s;
  }
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
