.show-manu-loader{
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.show-menu-dropdown{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.updating-msg{
    font-size: 16px;
}