@import "../../../../styles/assets/scss/variables.scss";
@import '../../../../styles/_variables.scss';

#right {
  width: 50%;
  padding-left: 5%;
  padding-right: 10%;
}
@media all and (max-width: $screen-width-760) {
  .containform {
    flex-direction: column;
  }

  #right {
    width: 100%;
    padding-left: 10%;
  }
}
.featurelist li::before {
  color: $white-green;
  content: "•";
  font-size: 170%;
  padding-right: 10px;
  font-weight: 900;
  vertical-align: sub;
}
.featurelist li {
  font-weight: 500;
  font-size: $font-size-15;
}
.featurelist li:nth-child(2),
.featurelist li:nth-child(3),
.featurelist li:nth-child(4),
.featurelist li:nth-child(5),
.featurelist li:nth-child(6),
.featurelist li:nth-child(7) {
  margin-top: -14px;
}

.featurelist li span {
  font-size: $font-size-mini;
}
.aboutFeat {
  font-weight: 500 !important;
  font-size: $font-size-mini;
}
