.calendar {
  min-width: 280px;
}

.apply-leave-btn{
  width: 80%;
}
.from_date_value {
  height: 35px;
  border-radius: 4px;
  padding: 5px 0 0 1em;
}
.apply_jobtitle {
  font-size: $font-size-13;
  font-weight: 700;
}
.leave-cause {
  textarea {
    height: 100px !important;
  }
} 
.leave_title {
  font-weight: 600;
}
.first_half_link,.second_half_link {
  border-bottom: 1px solid $light_-ocean !important;
}
.doc_link_note {
  font-size: $font-size-12;
  font-style: italic;
}
@media (max-width: $screen-width-540) {
  .calendar {
    width: 100%;
  }
}
@media only screen and (max-width: $screen-width-767) and (min-width: $screen-width-600) {
  .apply_leave_calendar {
    display: flex;
    justify-content: space-around;
  }
  .calendar-from-view {
   margin-top: 0;
   flex-grow: 0 !important;
   padding: 0 !important;
  }
}
