.box-responsive-5 {
  max-height: 255px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.view-leaves-loader {
  min-height: 200px;
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0%;
  top: 0%;
}
.box-header.user-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
  background: #ffffff;
  padding: 10px 0px 10px 10px;

  .user-details-container {
    margin-left: 15px;
  }
}
.leave-type-circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  font-weight: 700;
}
.leave-type-circle.b-success {
  background: #56bf94;
}
.leave-type-circle.b-danger {
  background: #f05955;
}
.leave-type-circle.b-warn {
  background: #fdc246;
}
.leave-type-circle.red-100 {
  background: #ffcdd0;
}

.details-sl-content {
  display: "flex";
  flex-direction: "column";
  margin-left: 10px;
  overflow: hidden;
  padding-right: 10px;
}
.user-leave-view-container {
  display: grid;
  grid-template-columns: 0.5fr 4.5fr;
  box-shadow: 0 0px 1px rgba(0, 0, 0, 0.15);
  padding: 10px 0px 10px 10px;
}
.user-leave-view-container.b-success {
  background: #f2f3f2;
  border-left: 2px solid #56bf94;
}
.user-leave-view-container.b-danger {
  background: #f2f3f2;
  border-left: 2px solid #f05955;
}
.user-leave-view-container.b-warn {
  background: #fdf8e4;
  border-left: 2px solid #fec750;
}
.user-leave-view-container.red-100 {
  background: #fdf8e4;
  border-left: 2px solid #ffcdd0;
}
.user-leave-view-container.bgg-white{
  background: #f2f3f2;
}
.bgg-white{
  
}

.box.box-responsive-5 {
  background: transparent;
  box-shadow: none;
  // padding-right: 10px;

  // height: 530px;
}
.box-body.leave-details-view {
  padding: 0;
}
.red-100-text {
  color: #ffcdd0;
  font-weight: 600;
  text-align: center;
}

.bgg-warning{
  background: #ffc247;
}
.bgg-success{
  background: #56bf94;
}
.pp-a{
  padding: 1rem;
  h5{
    margin-bottom: 0;
  }
}
.bgg-white{
  background: #e0dcdc;
}