.leaves-tab {
  cursor: pointer;
  .top-bar {
    height: 3px;
  }
  .active-tab {
    background: $active-tab;
    border-radius: 10px 10px 0px 0px;
  }
}

.leave-list-collapse {
  cursor: pointer;
  padding: 10px 0;
  .expand-icon {
    position: absolute;
    right: 0;
    top: 0px;
    padding: 5px;
  }
}
.approve-btn {
  color: $white !important;
  background-color: $greenish !important;
  border-color: $greenish-50 !important;
  &:hover {
    color: $white !important;
    background-color: $greenish-100 !important;
    border-color: $greenish-150 !important;
  }
}
.scroll::-webkit-scrollbar-thumb {
  background-color: $grey-100;
}
.reject-btn {
  color: $white !important;
  background-color: $red !important;
  border-color: $red !important;
  &:hover {
    color: $white !important;
    background-color: $reddish !important;
    border-color: $reddish-50 !important;
  }
}
.scroll-leave-list {
  display: block;
  max-height: 450px;
  overflow: auto;
}
.row {
  .rh-stat-year {
    float: left;
    margin-bottom: 5px;
  }
}
.rhStatsList {
  .job-title {
    font-size: 10px;
    font-weight: 500;
    color: $light-grey-50;
  }
  .rh_leave_names{
      font-size: 10px;
      font-weight: 500;
      color: $light-grey-50;
  }
  .overflow-auto.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  thead {
    tr {
      th {
        vertical-align: middle;
        font-size: 14px;
        text-align: center;
      }
    }
  }
  tbody {
    tr {
      td {
        padding-top: 10px;
        padding-bottom: 15px;
        vertical-align: top;
        text-align: center;
      }
    }
  }
}
.rhStatsList thead tr th:nth-child(1),
.rhStatsList thead tr th:nth-child(4),
.rhStatsList thead tr th:nth-child(5),
.rhStatsList thead tr th:nth-child(6){
  white-space: pre;
}

.rhStatsList .Widget_widget__U3U9H{
  padding: 0px;
}
.all-buttons {
  button {
    margin-right:10px;
  }
}
#cancel-cursor {
  cursor: pointer;
}
.back-widget .status_header > .nav-item .nav-link.active {
  box-shadow: none !important;
}
.status_header {
  .leave-tab-header.nav-link {
    border-radius: 0; 
  }
}
.nav-item a.nav-link.leave-tab-header {
  border-bottom: 3px solid;
}
.Rejected.leave-detail-border {
  border-left: 2px solid $light-red;
  padding: 0 7px;
}
.Approved.leave-detail-border {
  border-left: 2px solid $greenish-200;
  padding: 0 7px;
}
.PendingAdmin.leave-detail-border {
  border-left: 2px solid $light-yellow;
  padding: 0 7px;
}
.Pending.leave-detail-border {
  border-left: 2px solid $light-yellow;
  padding: 0 7px;
}
.ApprovedByHr.leave-detail-border {
  border-left: 2px solid $greenish-200;
  padding: 0 7px;
}
.grid-table-view {
  justify-content: space-around;
  font-size: 12px;
  border-top: 1px solid $white-grey;
  border-bottom: 1px solid $white-grey;
  padding: 13px 0;
  font-style: normal;
}
.table-heading-view {
  background-color: $lightgray;
}
.grid-table-view-heading {
  font-weight: 600;
}
.grid-table-view-part1,
.grid-table-view-part2,
.grid-table-view-part3 {
  border-right: 1px solid $white-grey;
  padding-right: 3em;
}
.reason-detail {
  max-width: 350px;
  margin: 0 auto;
}
.border-heading {
  border-color: $white-grey;
}
.hr-description {
  border-top: 1px solid $white-grey;
  border-bottom: 1px solid $white-grey;
}
.admin-comment {
  border-top: 1px solid $white-grey;
}
.textarea-placeholder::placeholder {
  font-size: 13px;
}
.textarea-font-size {
  flex: 1;
}
.textarea-placeholder {
  width: 97%;
  padding: 12px;
  border-radius: 3px;
  margin-bottom: 4px;
  border-color: $white-grey;
}
.textarea-font-size {
  display: flex;
  flex-direction: column;
}
.textarea-button > .btn {
  font-size: 12px;
  margin: 0 5px;
}
.leave-old-took {
  font-size: 13px;
  text-align: center;
}
.heading-leave-old {
  text-align: center;
  font-size: 14px;
  background-color: $white-grey;
}
.reason-view {
  font-size: 12px;
}
.leave-status-link {
  font-weight: 500;
  color: $brown-red;
}
.cause-reason {
  font-size: 12px;
}
.left-value-slide {
  background-color: $body-bg;
}
.reason-slide {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  // font-size: 12px;
}
.time_for_apply {
  float: right;
  font-size: 12px;
}

.hr-comment:disabled {
  background: transparent !important;
  cursor: not-allowed;
  height: 100px;
}

.list-item.pointer.mb-2.b-l.b-l-2x.b-danger.lightred {
  background-color: $light-dangerred;
}
.list-item.pointer.mb-2.b-l.b-l-2x.b-success.lightgreen {
  background-color: $succ-lightgreen;
}
.list-item.pointer.mb-2.b-l.b-l-2x.b-warn.lightyellow {
  background-color: $warn-lightyellow;
}
.rhStatsList .widget.Widget_widget__2Z7a8 {
  padding: 0;
}
.rhStatsList .overflow-auto .table > thead > tr > th {
  text-align: center;
  vertical-align: middle;
}
.rhStatsList .overflow-auto .table > tbody > tr > td {
  text-align: center;
  vertical-align: middle;
}
.rhStatsList .overflow-auto .table > thead {
  background-color: $gray-200;
}
.rhStatsList .overflow-auto > .col {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: $screen-width-768) {
  .leaves-tab {
    padding-top: 7px;
    padding-left: 1px !important;
    padding-right: 1px !important;
  }
  .list_group_item {
    padding: 0px !important;
  }
  .leave-details.px-rem-2 {
    padding-left: 0.2rem !important;
    padding-right: 0.2rem !important;
  }
  .ml-2-ml-rem-2 {
    margin-left: 0.1rem;
  }
}
@media (min-width: $screen-width-769) {
  .ml-2-ml-rem-2 {
    margin-left: 1.4rem;
  }
}
