.dialog-content {
  width: auto;
  max-width: 400px;
}
.userLeave_height {
  font-size: $font-size-13;
}
.myleavetable{
  tbody {
    font-size: $font-size-13;
  }
}
.leave_my {
  font-size: $font-size-13;
}
.responsive-total-salary {
  padding-left: 10px;
}


.uploadnotic {
  color: red;
  font-style: italic;
  padding-top:5px;
}
.rh-leave-container {
  padding-left: 20px;

  .rh-leaves {
    .rh-wrapper {
      margin-bottom: 20px;
      overflow: auto;
      width: 100%;
      .white {
        margin: 0;
      }
    }
    h2 {
      padding: 5% 0;
    }
    .rh-text {
      padding-top: 1%;
      font-size: 20px;
      margin-bottom: 12px;
    }
    .rh-select {
      padding: 0px;
    }
  }
  .status_text {
    text-align: right;
  }
}
#table-view-myleave {
  section {
    padding: 0;
  }
}
.myleave-section {
  .row {
    margin: 0;
  }
  [class*="col-"] {
    padding: 0;
  }
  .white {
    margin-right: 20px;
  }
  .my-leave {
    background: white;
    border-bottom: 1px solid #d8d3d373;
    margin-right: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .rh-leave {
    background: white;
    border-bottom: 1px solid #d8d3d373;
    padding: 10px 20px;
    font-weight: bold;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}
.leave-detail-container {
  margin-bottom: 30px;
  b {
    font-weight: 600;
  }
  .statistics-leave {
    margin-bottom: 10px;
    b {
      font-size: 1.04em;
    }
  }
  .statistics-rh {
    margin-bottom: 10px;
    b {
      font-size: 1.04em;
    }
  }

  .leaves {
    background-color: #f8f9fa;
    margin-bottom: 10px;
    color: --green;
    border-radius: 20px;
    padding: 10px;
    .status {
      border: 1px solid transparent;
      padding: 5px 10px;
      border-radius: 50%;
      margin-right: 5px;
      color: #fff;
    }
    .count {
      float: right;
      font-weight: 600;
      color: #7c8288;
    }
  }
  .allocated-leave {
    .status {
      background-color: #547fff;
    }
  }
  .leave-balance {
    .status {
      background-color: #ffc247;
    }
  }
  .total-leave-taken {
    .status {
      background-color: #3abf94;
    }
  }
  .paid-leave-taken {
    .status {
      background-color: #7f3ddb;
    }
    .salary-status {
      background-color: #afe7d3;
    }
  }
  .unpaid-leave-taken {
    .status {
      background-color: #f55d5d;
    }
  }
  .approved {
    .status {
      background-color: #3abf94;
    }
  }
  .cancelled {
    .status {
      background-color: #f55d5d;
    }
  }
  .apply {
    .status {
      background-color: #547fff;
      padding: 5px !important;
    }
  }
  .quater{
    .status{
      background-color: #7f3ddb;
      padding: 5px !important;
    }
  }
  .compensation {
    .status {
      background-color: #ffc247;
      padding: 5px !important;
    }
  }
  .pending-compensation {
    .status {
      background-color: #f55d5d;
    }
  }
  .rh {
    background-color: #f8f9fa;
    margin-bottom: 10px;
    color: --green;
    border-radius: 20px;
    padding: 10px;
    .status {
      border: 1px solid transparent;
      padding: 5px 10px;
      border-radius: 50%;
      margin-right: 5px;
      color: #fff;
    }
    .count {
      float: right;
      font-weight: 600;
      color: #7c8288;
    }
  }
  .left,
  .right {
    display: flex;
    align-items: center;
  }
  .CircularProgressbar {
    width: 70%;
    .CircularProgressbar-path {
      stroke: #8be5d3;
    }
  }
  #first-border {
    border-right: 1px solid #d8d3d373;
    padding-right: 30px;
  }
  #second-border {
    border-right: 1px solid #d8d3d373;
    padding-right: 30px;
  }
}
.normal-text {
  padding: 1% 0 0 0;
  margin-left: 0.5%;
  font-size: 20px;
  margin-bottom: 12px;
}
.termination-modal {
  .rh-modal {
    font-size: 16px;
    font-weight: 500;
  }
  .apply-btn {
    display: "flex";
    text-align: left;
  }
  #error-text {
    color: red;
  }
}

.b-red-500 {
  border-left-color: #f44331;
}

.b-green-A200 {
  border-left-color: #69f0ae;
}

.b-green {
  border-left-color: #4caf50;
}

.casualLeave{
  background-color: #547fff;
  color:white;

}
.responsive_salary_detail {
  padding: 8px;
}
.restricted{
  background-color:#f55d5d;
  color:white;
}

.sickLeave{
  background-color: #3abf94;
  color:white;
}
.restrictedBorder{
  border-left:2px solid #f55d5d;
}
.casualLeaveBorder{
  border-left:2px solid #547fff
}

.sickLeaveBorder{
border-left:2px solid #3abf94;
}

.my-leave-table .widget.Widget_widget__2Z7a8{
  padding:0;
}

.my-leave-table .overflow-auto >.col{
  padding-left: 0px!important;
  padding-right: 0px!important;
}
.my-leave-table th{
  vertical-align: middle !important;
  text-align: center;
}

.my-leave-table thead tr{
  background-color: #e9ecef;
}
 .my-leave-table tbody tr td{
   text-align: center;
   vertical-align: middle;
 }

 .my-leave-table tbody tr td:nth-child(1){
   padding-right: 0;
 }
 .restrictedHolidayList {
   font-size: $font-size-13;
   .rh-leave {
     font-size: $font-size-10em;
   }
 }

 .restrictedHolidayList .list.white{
   overflow: auto;
 }

 .my-leaves-list .list.white{
   overflow-y:scroll;
 }
 .fade {
   opacity: 1 ;
 }

 

@media (max-width: 768px) {
  .btn-res {
    margin-left: 2%;
    margin-top: 1%;
    font-size: 9px;
    line-height: 2;
    width: auto;
    float: left;
  }
  .mp-payslips {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .responsive-total-salary {
    padding-left: 0px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .btn-res {
    margin-left: 2%;
    margin-top: 1%;
    font-size: 10px;
    line-height: 2;
  }
}
@media (min-width: 994px) and (max-width: 1199px) {
  .btn-res {
    font-size: 90%;
    width: auto;
    padding-left: 2px;
    margin-left: 1%;
    margin-top: 1%;
    line-height: 1.5;
  }
}
@media (min-width: 1200px) {
  .btn-res {
    font-size: 11px;
    width: auto;
    margin-left: 2%;
    margin-top: 1%;
    line-height: 1.5;
  }
}
@media (max-width: 991px) {
  .rh-leave-container {
    margin-top: 15px;
  }
  // .payslip_arrear_response {
  //   flex-direction: column;
  // }
  // .payslip-add-arrear {
  //   padding: 10px;
  // }
  .total_detail_value {
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
  }
  .response_total_earning {
    display: flex;
    justify-content: space-between;
    font-size: $font-size-15;
  }

}

@media (max-width: 768px) {
  .left,
  .right {
    flex-direction: column;
    margin-bottom: 2em;
  }
}

@media (max-width: 576px) {
  .my-leave {
    width: 100%;
  }
  .list.white {
    width: 100%;
  }
  .CircularProgressbar {
    width: 50% !important;
  }
}
