.hour-overflow {
  overflow-y: scroll;
  max-height: 500px;
}
.max-w-200{
  max-width: 200px;
  white-space:normal;
}
.Weekend_Off {
  height: 18px;
}
.time_remains {
  margin: 5px 0;
  background-color: $light-blue-500 !important;
  color:$white !important;
}
@media screen and (max-width: $screen-width-767) {
  .max-w-200{
    font-size: 12px;
    white-space:normal;
  }
  
  .move_days {
    min-height: 0 !important;
  }
}
