@import "../../app.scss";
.dialog-add-role {
  width: 40% !important;
  max-width: none !important;
  transition: 0.2s;
}
.template-view{
  .manage-users-nav-bar{
    width:100%;
  }
}
#manage-user {
  margin: auto;
}
.role_btn_name {
  font-weight: 600 !important;
}
.subhint_role {
  font-style: italic;
  font-size: $font-size-12;
}
.before_manage_click_image {
  height: 50px;
  width: 50px;
}
#more_role_image {
  font-size: 24px;
}
.payslip-info-status {
  background: $light-red;
  color: $white;
  border-radius: 4px;
}
.manage_role_profile {
  background: #fbf6e3;
  border-radius: 4px;
}
.role_add_button {
  display: flex;
  justify-content: flex-end;
}

.manage-roles-detail {
  padding: 2px;
  padding-top: 5px
}
.manage-arrow {
  display: flex;
  align-items: flex-start;
  .fa {
    font-size: $font-size-20;
    padding-top: 5px;
  }
}

.show_more_design {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.rounded-designing {
  border-radius: 50%;
  border: 2px solid;
  padding: 10px;
  font-weight: 600;
}

.delete_manage {
  color: $red !important;
  background: $white !important;
  border: none !important;
  padding: 5px !important;
}
.manage-role-title {
  font-size: $font-size-10;
}
.sub-managerole-block {
  border-top: 2px solid rgba(120, 130, 140, 0.045);
  border-bottom: 2px solid rgba(120, 130, 140, 0.045);
  .sub_managerole {
    font-weight: 600;
  }
}
.manage_role_profile,
.sub_managerole,
.manage_role_size {
  font-size: $font-size-13;
}
.manage_role_size {
  word-break: break-word;
}
.payrole_checkbox_value :first-child {
  min-height: 10px;
}
.image_manage_role {
  height: 40px;
  width: 40px;
}
.role_dis_manage {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  border-radius: 2px;
  select {
    width: 70%;
    background: $white;
  }
}
.user_manage_view {
  background: $white !important;
  border: none !important;
}

.showmenu-view > div {
  margin-left: 0 !important;
  margin-right: 0 !important;
  & > div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.responsive_salary_detail {
  padding: 0 !important;
}
.selected_username {
  font-weight: 600;
}
.payslip-status-info {
  display: block;
  background: $accent;
  padding: 5px 10px;
  color: $info-100;
  border-radius: 5px;
}
.date-to-show-after,
.date-to-show-before {
  font-size: $font-size-13;
}
.payslip-emp-id {
  font-size: $font-size-13 !important;
  white-space: pre;
}
.payslip-emp-id {
  td:not(.remove-padding) {
    padding: 8px !important;
  }
}
.payslip-table {
  thead {
    background: $body-bg;
  }
}
.payslip_leave_detail {
  background-color: $body-bg;
  border-radius: 5px;
  font-size: $font-size-13; 
  font-family: "Montserrat", sans-serif;
}
.app_page_width {
  width: 100% !important;
}

.total_payslip_value,
.payslip-bonus,
.payslip-Arrear {
  border: 1px solid $body-bg;
  border-radius: 5px;
}
.total_payslip_value{
 .total_payslip_value_wrapper{
  overflow: scroll;
  }
}
.payslip-bonus{
  .payslip-bonus-wrapper{
    overflow: scroll;
  }
}
.total_value_detail_payslip {
  display: flex;
  justify-content: space-around;
}
.payslip-table {
  thead {
    text-align: center;
  }
}
.laptop-padding {
  padding: 0 !important;
}
.payslip-table {
  tbody {
    font-size: $font-size-13;
    text-align: center;
  }
}
.total_value_detail_payslip {
  .py-2 {
    text-align: center;
  }
}
.payslip-emp-id {
  .py-2 {
    text-align: center;
  }
}
.fa-file-pdf-o {
  font-size: $font-size-20;
  color: $red-danger;
}
.payslip_sub_heading {
  font-size: $font-size-13;
}
.payslip-yearpicker {
  padding: 4px;
  border-radius: 5px;
  background: $white;
}
.payslip-right {
  background: $body-bg;
}
.payslip-monthpicker {
  padding: 4px 10px;
  border-radius: 5px;
  background: $white;
}
.create-payslip-button {
  font-size: $font-size-13;
  color: $white;
  font-weight: 600;
}
.mail-payslip-button {
  font-size: $font-size-13;
  font-weight: 600;
  background: $blue-grey-50;
}
.total_payslip_salary {
  font-size: $font-size-13;
}
.salary_view_payslip {
  color: $black;
}
.slack-payslip-button {
  font-size: $font-size-13;
  font-weight: 600;
  background: $blue-grey-50;
}
.payslip-text-feild {
  border-radius: 4px;
  border: 1px solid $body-bg;
  margin-left:2px;
  float: right;
}
.check_loyal {
  margin-right: 2em;
}

.workingHourTextbox {
  border: 1px solid $gray-400;
  border-radius: 4px;
  padding: 0.5em 0.5em 0.5em 1em !important;
  text-align: left;
}

.workingHourData {
  align-self: center;
  text-align: left;
}

.add-working {
  #date-picker {
    margin: 0;
  }
}

.bod-none {
  border: none !important;
}

.mp-userlist {
  width: 100px;
  transition: width .3s ease-in-out;
  &.active {
    width: 250px;
  }
  aside {
    width: 100% !important;
    header {
      width: 100% !important;
    }
    .list-group-item {
      // .user-chatbar-img {
      //   margin-right: 17px !important;
      // }
      // &.active {
      //   .user-chatbar-img {
      //     margin-right: 3px !important;
      //   }
      //   .fa {
      //     margin-top: 0px !important;
      //   }
      // }
    }
  }
}
.mp-payslips {
  width: calc(100% - 100px);
  transition: width .3s ease-in-out;
  &.active {
    width: calc(100% - 250px);
  }
}

.permission-block {
  padding-left: 0.5rem !important;
  padding-right: 0 !important;
}

.template_file_name{
  color:$sky-blue;
}

.template-body{
  font-size: $font-size;
}


.template-icon{
  color: $full-black;
}
.copy{
  // margin-left: 12px;
}
@media(max-width:$screen-width-576){
  .manage-roles-wrapper {
    .manage-role-btn{
      display: block !important;
    }
    .role_add_button{
      justify-content: start !important;
      button{
        width: 50%;
      }
    }
  }

}

@media(min-width:$screen-width-768){
  .mail-template-list{
    overflow-y: scroll;
  }
}

@media (max-width: $screen-width-768) { 
  .dialog-add-role {
    width: 60% !important;
    transition: 0.2s;
  }
  
  .mp-userlist {
    display: none; 
   }
  .permission-block {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: $screen-width-540) {
  .dialog-add-role {
    width: 85% !important;
    transition: 0.2s;
  }
}

@media (min-width: $screen-width-990) {
  .rh-statss {
    padding-left: 2rem;
  }
  .template-view {
    margin-left: -13px !important;
    background-color: white;
    .preview-message{
      text-align: center;
      font-size: 20px;
      color:purple;
      margin-top: 40px;
    }
  }
  .all-roll-container {
    margin-left: 13px;
  }
  .my-inventory-page-view,
  .my-documents-view {
    margin-left: 11px;
  }
}

@media (max-width: $screen-width-989) and (min-width: $screen-width-766) {
  .all-roll-container {
    margin-left: 5px;
  }
  .mp-payslips {
    .p-a {
      padding:6px !important;
    }
  }
  .rh-statss {
    padding-left: 2rem;
  }
  .template-view {
    margin-left: -12px !important;
    
  }
  .add-variable-wrapper {
    margin-left: -27px !important;
  }
  .showmenu-view {
    margin-left: 0px;
  }
  .my-inventory-page-view,
  .my-documents-view {
    margin-left: 3px;
  }
}

@media (max-width: $screen-width-765) {
  .all-roll-container {
    margin-left: -5px;
  }
  .border-remove-table > .table {
    border: 1px solid $light-grey;
    background-color: $white;
  }
  .box-shadow-z0.manage-leaves {
    margin-left: -4px;
  }
  .rh-statss {
    padding-left: 1.7rem;
  }
  .payslip-upper-first-view {
    margin-left: 15px !important;
  }
  .payslip-upper-second-view {
    margin-left: 15px !important;
  }
  .payslip-upper-box-view {
    margin-left: 18px;
  }
  .template-view {
    margin-left: -13 !important;
    background-color: white;
    .preview-message{
      text-align: center;
      font-size: 20px;
      color:purple;
      margin-top: 20px;
    }
  }
  .add-variable-wrapper {
    margin-left: -33px !important;
  }
  .my-inventory-page-view,
  .my-documents-view {
    margin-left: -5px;
  }

  .rh-mobileTable {
    padding: 0 !important;
  }
}
@media (max-width: 480px) {
    .payslips-buttons-container{
      flex-direction: column;
    }
    .parent-layout-container{
      display: unset !important;
    }
    .create-payslip-button {
      margin-bottom: .5rem;
    }
    .payslip-upper-first-view{
      .all-buttons{
        flex-direction: column;
        .md-raised.indigo{
          margin-left: unset !important;
          margin-right: unset !important;
          width:100%;
          margin-top: .5rem;
        } 
        .submit{
          width: 100% !important;
        }
        
      }
    }
    .generate-payslips-name{
      flex-direction: column;
    }
    .payslip_arrear_response {
      flex-direction: column;
    }
    .total_value_detail_payslip {
      flex-direction: column;
      justify-content: space-between;
      padding: 5px;
    }
    .left_total {
      display: flex;
      justify-content: space-between;
    }
    .p-a {
      padding: 0 !important;
    }
    .paysliptable_ {
      .table-responsive {
        width: 100% !important;
      }
    }
    .total_value_detail {
      flex-direction: column;
      padding: 5px;
    }
    .total_value_detail > .net-value {
      flex-direction: row !important;
      justify-content: space-between;
    }
    .salary-blocks-margin{
      .salary-row-bg {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
    .responsive_extra_arrear {
      padding-top:5px;
    }
}
