/* customize */
.fc-view{
	overflow: visible;
}

.fc-toolbar {
  height: 50px;
  color: #fff;
  background-color: #03a9f4;
  border-radius: 3px 3px 0 0;
  margin: 0;
}

.fc-toolbar .fc-button {
	color: #fff;
  background: transparent;
  border: none;
  box-shadow: none;
  text-shadow: none;
  margin: 0;
  height: 50px;
  line-height: 28px;
  padding: 10px;
}

.fc-toolbar h2 {
  font-size: 20px;
  line-height: 50px;
  margin: 0;
  text-transform: uppercase;
}

.fc-view .fc-widget-header{
  background-color: rgba(168, 168, 168, 0.05);
  border: none;
}

.fc-row:hover,
.fc-row:focus,
.fc-row:active{
	position: relative;
	z-index: 1000;
}

.fc-view .fc-widget-header,
.fc-view .fc-widget-content {
  border-color: rgba(168, 168, 168, 0.1);
  font-weight: normal;
}

.fc-view .fc-day-header{
  padding: 4px 4px;
}

.fc-view .fc-event {
  padding: 4px 8px;
  box-shadow: 0 1px 0px rgba(0,0,0,0.05);
}

.fc-view  .fc-event-hori{
	padding: 4px 8px;
}

.fc-event {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
	@extend .no-border;
}

.fc-event-inner{
	position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fc-state-highlight{
  background-color: #f1ffed;
}

.fc-overlay{
	display: none;
	position: absolute;
	min-width: 300px;
	padding: 17px 0;
	top: auto;
	left: 50%;
	margin-left: -150px;
  z-index: 1000;
}

.fc-overlay.left{
	left: 100%;
	top: -15px;
	padding: 0 10px;
	margin: 0;
}
.fc-overlay.right{
	left: auto;
	right: 100%;
	top: -15px;
	padding: 0 10px;
	margin: 0;
}
.fc-overlay.top{
  top: auto;
  bottom: -30px;
}


.fc-overlay .panel{
	padding: 15px 20px;
}

.fc-overlay .pull-up{
	top: 26px;
}

.fc-overlay .pull-down{
  bottom: 11px;
}

.fc-event:hover,
.fc-event:focus,
.fc-event:active{
	z-index: 1000;
}
.fc-event:hover .fc-overlay,
.fc-event:focus .fc-overlay,
.fc-event:active .fc-overlay{
	display: block;
}

.fc-time-grid-event{
  overflow: visible;
}

.fc-time-grid .fc-event:hover{
  z-index: 1000;
}

.fc-event:hover {
	color:$black;
}
