.isRestricted {
  color: #547fff;
}

.normal {
  color: #8d9092;
}

.holidayListData .no-gutter {
  width: 100%;
}

.holidayListData {
  @media (max-width: 767px) {
    .table-responsive {
      width: 92vw;
    }
  }
}

.holidayListData .table > thead > tr > th {
  font-size: 15px;
  text-align: center;
}
.holidayListData .table > tbody > tr > td {
  font-size: 13px;
  text-align: center;
}

.v-align {
  vertical-align: middle !important;
}

.delete-holiday {
  min-width: 69.1875px;
  min-height: 33px;
}

.addHoliday {
  padding-bottom: 1em;
  margin-right: 12px;
  margin-left: -4px;
  .add-holiday-btn {
    margin-left: 8px;
    width: 100%;
    position: relative;
    .spinner-border {
      width: 1.45rem !important;
      height: 1.45rem !important;
    }
    i {
      font-size: 22px !important;
      color: #28a744 !important;
    }

    i,
    span {
      transition: 0.4s opacity linear;
    }

    .hide-tick-icon {
      visibility: hidden;
      opacity: 0;
    }

    .show-holiday {
      display: unset;
    }

    .hide-holiday {
      display: none;
    }

    .show-tick-icon {
      visibility: visible;
      opacity: 1;
    }
  }
  @media (max-width: 767px) {
    margin-left: -8px;
    margin-right: 1px;
    .holiday-action {
      margin-bottom: 7px;
    }
  }
}
@media (max-width: 567px) {
  .addHoliday .col {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .addHoliday {
    margin-left: 0px;
    margin-right: -7px;
    .add-holiday-btn {
      margin-left: 0px;
    }
  }
  .addHoliday .form-control {
    margin-left: 0;
  }
  .add-holiday-btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .holiday_mobile_response > .holiday-action {
    padding: 0;
  }
  .holiday_mobile_response > .holiday-action > #date-picker {
    margin: 0;
  }
  .holiday_mobile_response > .holiday-action > button {
    margin: 0;
  }
  .holiday_widget {
    padding: 0;
  }
}
