@import '../assets/scss/variables.scss';

.remove-fade.fade{
    opacity:1;
}

.highlight{
    font-weight: 700;
}

.head-1{
    width:80%;
}

.row#my-inventory-table .table-responsive tr{
    border-bottom: 2px solid $white-brown ;
}
.row#my-inventory-table .table-responsive tr:last-child{
    border-bottom: none;
}

.row#row-1{
    justify-content: space-between;
}

#audit-btn{
    width:100%;
}

#unAssign-btn{
    width:100%;
}

.modal.fade.show{
    opacity: 1!important;
}

.row#my-inventory-table .table-responsive tr td i:last-child{
    cursor: pointer;
}



.my-inventory-comment ul{
    font-size: 0.875rem;
   
}
.my-inventory-comment ul li{
padding: 10px;
border-top: 1px solid $light-greyish;
list-style: none;}
.my-inventory-comment ul li p{
    padding-top:5px!important;
    margin-bottom: 0px;
}
.YourCustomClass{
    background-color: transparent;
}
.my-inventory-comment ul li small{
    font-size: $font-size-11;
    font-weight: 300;
    color:$dark-grey;
}
.myInventoryspinner.spinner-border{
    width:3rem;
    height:3rem;
    margin-top: 10%;
    margin-left: 50%;
}
@media(max-width:$screen-width-767){
    .machineDetail{
        margin-bottom: 1.2em;
        margin-left: 0!important;
    }
    .machineDetail > .col-md-12:nth-child(1){
        padding-left:0!important;
        padding-right:0!important;
    }
    .document_upload_inventory_page {
        padding: 0;
      }
    
}

@media(min-width:$screen-width-768){
    .machineDetail > .col-md-12:nth-child(1){
        display: flex;
    }
}

@media(max-width:$screen-width-567){
    .assign-device .overflow-auto.row{
        margin-left:7px!important;

    }
    .assign-device > div >div >div{
        width:97% !important;
        margin-left:0.3em !important;
       
    }
}

.commentUser{
    margin-top: 0;
    margin-bottom: 2px;
    color:$ocean-blue;
}

  @media(max-width:$screen-width-480){

    #my-inventory-page #my-inventory-table{
        overflow: scroll;
    }
    #row-1 > button{
        width: 81%;
        margin-left: 10%;
    }
    div .unassign-device div > div{
        width:95% !important;
    }
    
    .assign-device div>div{
        width:97% !important;
    }
    
    .assign-device div>div>div{
        padding-left:0 !important;
        padding-right: 0px!important;
    }
    
    .assign-device div>div>div>.no-gutter{
        margin:0px !important;
    }

    .assign-device .widget.Widget_widget__2Z7a8{
        padding-right: 0;
    }

    .assign-device .widget.Widget_widget__2Z7a8 .table-responsive{
        width:100%!important;
    }
 }


