.tempalate-btn{
  font-size: $font-size-18;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  padding: 2px;
  border-radius: 2px;
  transition: border .25s, background .25s ;
}
  .tempalate-btn.delete{
    color: $crimson-red;
    border: 1px solid rgba(218, 10, 77, 0);
    background: rgba(255, 56, 93, 0);
  }
  .tempalate-btn.delete:hover{
    border: 1px solid rgba(218, 10, 77, 0.44);
    background: rgba(255, 56, 93, 0.20);
  }
  .tempalate-btn.edit{
    color: $active-tab;
    border: 1px solid rgba(0, 128, 0, 0);
    background: rgba(0, 128, 0, 0);
  }
  .tempalate-btn.edit:hover{
    border: 1px solid rgba(0, 128, 0, 0.45);
    background: rgba(0, 128, 0, 0.14);
  }
  .tempalate-btn.forward-mail{
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
  }
  .tempalate-btn.forward-mail:hover{
    border: 1px solid rgba(0, 0, 0, 0.33);
    background: rgba(0, 0, 0, 0.12);
  }
  .selectUser{
    min-width: 15.3rem !important;
    margin-left: 70%;
    margin-top: 17px;
    max-height: 253px;
    overflow: scroll;
  }
  .list-unstyled li {
    padding-left: 15px;
  }
  .list-unstyled li:hover {
    background: $back_color;
  }
  .dropdown-backdrop-custom {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
  background-color: rgba(255, 255, 255, 0);
}
.selected-recipient{
  padding-bottom: 5px;
  border-bottom: 1px solid gainsboro;
}

.selected-recipient .to{
  width:100%;
  font-size: $font-size-12;
  font-weight: bold;
}

.filter-tags{
  height: auto;
}
.filter-tags .filter-label, .filter-tags-clear .filter-label {
  margin-right: 5px;
  font-size: 100%;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 5px; }
  .filter-tags .filter-label .filter-remove, .filter-tags-clear .filter-label .filter-remove {
    color: $white;
    margin-right: 5px;
    cursor: pointer; }
.filter-tags .filter-label .clear-all{
  background: $bg_back_gray;
}
.filter-tags .filter-clear, .filter-tags-clear .filter-clear {
  cursor: pointer; }

  .paper{
    font-size: $font-size-11;
    padding:20px;
    overflow:hidden;
    border: 1px solid $idx_brd_col;
    // border-radius: 16px !important;
    /*border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;*/
  }
  .paper:hover{
    box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  }
  .menuOptions{
    display:none;
    right:30px;
    top:30px;
    z-index: 1000;
    position:absolute;
    box-shadow: $river-brown 0px 0px 30px;
    background:$white;
  }
  .menuOptions span{
    width: 100%;
    display: block;
    padding: 5px 10px;
    text-align: left;
    cursor: pointer;
  }
  .menuOptions span:hover{
    background:$lt_rvr_brown;
  }
  .select-variable{
    display: block;
    padding: 10px 0px;
    font-style: italic;
    cursor: pointer;
  }

  body{
      // font-family: "sans-serif";
      // height:120%;
  }
  .tab1, .tab1 th, .tab1 td {
      //  border: 1px solid black;
      border-collapse: collapse;
      padding:2px 10px;
      min-height: 50px;

  }
  img {
      // height:70px;
      // width:  ;
   }
  p {
      //  line-height: 0em;
      // font-size: 29px;
      // font-weight:800;
      padding-top:10px;
      margin-bottom: 12px;
      // margin-top: -20px;
  }
  .span_bold {
      font-weight: 600;
      font-size: $font-size-16;
  }
  .tab3 td{
      font-size:$font-size-12;
      font-family: "sans-serif";
  }

  .search-box{
    width: 130px;
    box-sizing: border-box;
    border: 2px solid $river-brown;
    border-radius: 4px;
    font-size: $font-size-16;
    background-color: $white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  .search-box:focus {
    width: 100%;
  }
  .editor-style {
    overflow: auto;
    display: block;
    width:  100%;
    // height: 300px;
    // max-height:300px;
    background: rgba(204,204,204,.51);
    
  }
  .add-template-editor{
    min-height: 200px
  }
  .send-btn-template{
    float: right;
    margin-top: 10px;
  }
  .form-input-style {
    margin-left:  5%;
    margin-right: 5%;
    width:90%;
  }
  .error-alert-style {
    margin-left:  5%;
    margin-right: 5%;
    width:       90%;
    display:     none;
  }
  .upload-button-style {
    position:   relative;
    overflow:   hidden;
    margin:     10px;
    margin-left: 40px;
    cursor:     pointer;
  }
  .upload-input-style {
    color:    transparent;
    position: absolute;
    top:      0;
    right:    0;
    margin:   0;
    padding:  0;
    font-size: $font-size-20;
    cursor:   pointer;
    opacity:  0;
  }
  .uploaded-pdf-block-style {
      box-shadow:  0px 0px 5px $box-shadow-brn;
      height:     30px;
      padding:    5px;
      text-align:  left;
      margin-left: 40px;
      margin-top:  10px;
      width:      350px;
      display:    block;
      font-style:  italic;
      font-weight: bold;
      color:   $blue-light-ocean;
    }
  .pdf-footer {
      border-top:    3px solid;
      margin-bottom: 8px;
    }
  .cross-button-style {
      color:     $red-danger;
      float:     right;
      margin-top: 3px;
      cursor:    pointer;
    }
  .delete-style {
      float:       right;
      margin-top:   -12px;
      margin-right: -7px;
    }
    .lable {
      font-weight: normal;
    }
    .container {
      position:   relative;
      text-align:  center;
      padding-top: 200px;
    }
    .pdfHeader {
      width:          100%;
      border-collapse: collapse;
      min-height:      50px;
    }
    .tab1 {
      border-collapse: collapse;
      min-height:      50px;
    }
    .para {
      font-size:     $font-size-29;
      font-weight:   800;
      padding-top:   10px;
      margin-bottom: 12px;
      margin-top:    -20px;
    }
    .span_bold {
      font-weight: 600;
      font-size:  14px;
    }
    .pdf-footer {
      border-top:    3px solid;
      margin-bottom: 8px;
    }
    .border-right-solid {
      border-right: 1px solid $idx_brd_col;
    }
    .body-space {
      height: 400px;
      margin-bottom:20px;
    }
    .flex-style {
      display: inline-flex;
    }
    .dialog-content-style {
      max-width: 90%;
      width: 90%;
      transform: translate(0px, 0px);
    }
    .nextdialog-content-style {
      max-width: 90%;
      width: 50%;
      transform: translate(0px, 0px);
    }
    .templates-dialog-style {
      min-height: 70vh;
    }
    .dialog-content-title {
      padding:5px 24px 0px;
      text-align: center;
      font-size: $font-size-18;
      font-weight: 500;
    }
    .template-dialog-content-style {
      font-family: sans-serif;
      margin: 1.5cm 0 0;
      text-align: justify;
    }
    .template-send-email {
      font-weight: 600;
      font-size: $font-size-17;
      margin-top: 5px;
      text-align: center;
      text-decoration: underline;
    }
    .b-r-gainsboro {
      border-right: 1px solid $idx_brd_col;
    }
    .add-recipient-style {
      font-size: $font-size-13;
      font-style: italic;
      color: $dark-blue;
      cursor: pointer;
      display: block;
      width: 100%;
      text-align:right;
    }
    .filter-back-style {
      display: none;
      opacity: 0.5;
    }
    .form-group-full-width {
      width: 100%;
    }
    .form-group-p-0-w-4{
      width: 40%;
      padding-left:0px;
    }
    .mail-template-button {
      font-size: $font-size-13;
      font-weight: 600;
      background: $blue-grey-50;
    }
    //-- Media ----
  @media (max-width: $screen-width-540) {
    .mail-recipient {
      margin-left: 5%;
      float: left;
      max-height: 253px;
      overflow: auto;
      margin-top: 50px;
      width:89%;
    }
    .paper {
      overflow: auto;
      font-size: $font-size-9;
    }
  }
.template-iframe{
  width: 100%;
  height: 400px;
  border: none;
}
.dialog-container{
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  .span-mr-l{
    margin-left: 10px
  }
  .span-mr-r{
    margin-right: 10px;
  }
}
.form-mtn-4{
  margin-left: 13px;
}
.capitalize-div{
  text-transform: capitalize;
}
.col-md-3.mtn-btm-5{
  margin-bottom: 5px;
}
.pull-left.mgn-around{
  margin: 6px 0px 7px 33px;
}
#notListed, #recipient, #cc, #bcc, #user{
  margin-right: 10px;
  margin-top: 0;
}
.iframe-container{
  width:100%;
}
.generated-preview{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: $font-size-20e;
  font-weight: 500;
  margin: 10px;
}