.width-8 {
  width:84px;
}
.padingrl{
padding: 0 5px !important;
}
.botm-mar {
  margin-bottom: 1%;
}
.slaray_deduction_close {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.salary_not_aval {
  font-size: $font-size-15 !important;
  font-weight: 600;
  color: $black;
}
.salary-add-epf {
  font-size: $font-size-13;
  padding-left: 0px !important;
}
.slaray_close {
  font-size: $font-size-15;
}
.payslip_arial_display {
  display: flex;
  font-size: $font-size-13;
  padding: 8px;
  white-space: pre;
  .payslip-text-feild{
    min-width: 2rem !important;
    margin-right: 3px;
  }
}
.pending_salary_value {
  font-size: $font-size-13;
}
.admin-slary-view {
  font-size: $font-size-08em;
}
.salary-page-row {
  white-space: pre;
  font-size: $font-size-15;
  text-align: center;
}
.mysalary_view_list {
  display: flex;
  flex-wrap: wrap;
  font-size: $font-size-13;
}
.body-for-salarydetail {
  font-size: $font-size-13;
  text-align: center;
}
.my-salary-detail-income
{
  display: flex;
    justify-content: space-around;
}
.my_salary_table_body {
  tr:nth-child(odd) {background: $gray-200}
}
.content-salary {
  font-size: $font-size-13;
  .date-field, input, select{
    // min-width: 35px;
    height: 1.5rem;
    padding: 0px;
    line-height: 0;
    font-size: .6rem;
    min-height: 1rem !important;
    border-radius: 5px !important;
  }
  .add_total_value,
  .salary-input-wrapper{
    .input-sm {
      padding: 12px 5px !important;
      font-size: $font-size-13;
    }
  }
  .divider{
    padding: 0 5px;
  }
  .date-field{
    // width: 50%;
    border-color: rgba(120, 130, 140, 0.2);
    input{
      height: 97%;
    }
  }
  .date-holding-field{
    width: 100%;
  }
  .delete-icon{
    color: $red-danger;
    cursor: pointer;
    vertical-align: middle;
  }
  .deduction_option {
    float: right;
  }
  .add-salary-container{
    display: flex;
    justify-content: center;
    align-items: center;
      .add-icon{
        color: $active-tab;
        cursor: pointer;
        // margin-top: 13px;
      }
  }
  .salary-range-wrapper{
    display: flex;
    justify-content: end;
    margin-bottom: 15px;
    flex-wrap: wrap;
  }
  .applicable-from, .applicable-till, .leaves, .incremented-value{
    display: flex;
    margin-right: 5px;
    .salary-title{
      align-items: center;
      display: flex;
      margin: 0;
      justify-content: center;
      // margin-right: 5px;
      padding: 0px 5px !important;
      white-space: nowrap;
    }
    .salary-add-epf {
      padding-left: 0 !important;
    }   
  }
  .leaves{
    max-width: 100px;
  }
  table{
    thead{
      font-weight: bold;
    }
    tbody{
      tr{
        td{
          padding: 8px;
        }
      }
    }
  }
  .not-displayed{
    font-size:$font-size-12;
    padding-left: 20px;
  }
  
  .bottom-part-deduction {
    display:flex;
    justify-content: center;
  }
  .remove-holding-btn-wrapper{
    align-items: flex-end;
    .remove-holding-btn{
      border: 1px solid $red-danger;
      background: rgba(255, 0, 0, 0.1);
      color: $red-danger;
      padding: 3px;
      border-radius: 3px;
      cursor: pointer;
      font-weight: 600;
      justify-content: center;
      margin-right: 7px;
    }
  }
}
.total_value_detail {
  width: 100%;
  display: flex;
  justify-content: space-around;
  border: 1px solid $light-grey;
  > .net-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-size-10em !important;
  }
}
.total_detail_value {
  display: flex;
  justify-content: space-around;
  border: 1px solid $light-grey;
  border-radius: 4px;
}
// @media (max-width:899px) and (min-width:575px){
//   .total_detail_value {
//     padding-left: 4rem;
//   }
// }
.file_pdf_view {
  color: $box-shadow-brn;
}
.salary-block-title {
  padding-left: 20px;
}
.salary-blocks-margin {
  margin: 5px 0;
  &.salary-row-bg{
    padding: 5px 0;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  &.add-salary{
    height: auto;
    min-height: 350px;
  }
.add-icon{
  cursor: pointer;
}
.notify-salary-block{
  label{
    font-size: 12px;
  }
  #notifySalaryUpdateToEmp{
    height:auto
  }
}
}
.salary-blocks-margin:last-child{
  margin-top: 15px;
  margin-bottom: 15px;
}
.button-style-l {
  margin-top: 10px;
  margin-left: 5px;
}
.salary-border-left{
  border-left: 1px solid $border-color;
}
.salary-add-holding {
  border-width: 1px;
  padding: 2px 6px;
}
.salary-p-x {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.salary-title {
  font-weight: 500;
}
.divider.padding-horizontal{
  padding: 0px 5px 0px 5px;
}
.salary-col-title-padding {
  padding: 0px !important;
  div {
    background-color: $grey-100;
    margin: 0px 4px;
    border-radius: 4px;
    margin-bottom: 1em;
    div {
      padding: 0px !important;
    }
  }
}
.holding_form_view {
  font-size: $font-size-13 !important;
  height: 30px !important;
}
.holding_datepicker {
  #date-picker{
    #date-picker-dialog {
      font-size: 13px;
    }
  }
}
.admin-emp-saleies {
  padding:0.5rem 1rem ;
}
.total-earning {
  background-color:$ocean-green;
  color:$white;

}
.detail-earning {
  border:1px solid $light-grey;
  border-top: 0px;
  flex-direction: column;
}
.salary-addition-width {
    
  .salary-basic-width {
    justify-content: space-between;
    min-width: 46px;
  }
  .salary-hra-width {
    justify-content: space-between;
    min-width: 46px;
  }
  .salary-conveyance-width {
    justify-content: space-between;
    min-width: 60px;
  }
  .salary-medical-width {
    justify-content: space-between;
    min-width: 60px;
  }
  .salary-special-width {
    justify-content: space-between;
    min-width: 60px;
  }
  .salary-arrears-width {
    justify-content: space-between;
    min-width: 46px;
  }
}
.salary-total-title {
  background-color: $ocean-green;
  color:$white;
  padding: 7px 10px;
}
.payslips{
  margin-top: 20px;
  .content-payslips{
    margin-left: 0px;
    margin-right: 0px;
    font-size: $font-size-10;
    b .l-view {
      background: $white;
    }
    .payslip_row div.row:nth-child(even){
      background-color: $white-light;
      margin-left: 0px;
      margin-right: 0px;
    }
    .payslip_row div.row:nth-child(odd){
      margin-left: 0px;
      margin-right: 0px;
    }
    .m-view{
      font-weight: bold;
    }
  }
}
// .salary-details{
//   height: 93px;
// }
.salary-add-details{
  height: 93px;
}
.salary-block{
  height: 100%;
  .cell{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &.center{
      justify-content: space-around;
    }
  }
}
.my_salary_table_body {
  white-space: pre;
}
.salary-add-block{
  height: auto;
  min-height: 185px;
  .cell{
    display: flex;
    justify-content: space-between;
    &.center{
      text-align: center;
      justify-content: space-around;
    } 
  }
}
.deduction-amount-detail {
  border: 1px solid $light-grey;
  border-top:0;
  .cell {
    display: flex;
    flex-direction: inherit;
    justify-content: space-between;
  }
}
.total-earn-border {
  padding: 7px 10px !important;
}
@media screen and (min-width: $screen-width-992) {
  // .salary-total-title {
  //   text-align: center;
  //   font-weight: 600;
  // }
  .salary-total-value {
    text-align: center;
    font-size: $font-size-14;
    font-weight: bold;
  }
  .salary-total-width {
    width: 8%;
  }
  // .salary-addition-width {
  //   width: 52%;
  //   .salary-basic-width {
  //     width: 11%;
  //     min-width: 46px;
  //   }
  //   .salary-hra-width {
  //     width: 11%;
  //     min-width: 46px;
  //   }
  //   .salary-conveyance-width {
  //     width: 17%;
  //     min-width: 60px;
  //   }
  //   .salary-medical-width {
  //     width: 24%;
  //     min-width: 60px;
  //   }
  //   .salary-special-width {
  //     width: 23%;
  //     min-width: 60px;
  //   }
  //   .salary-arrears-width {
  //     width: 12%;
  //     min-width: 46px;
  //   }
  // }
  .add-salary-addition-width{
    border: 1px solid $light-grey;
    border-top:0;
    .salary-hra-width {
      margin-right: 2%;
      width: 11%;
      min-width: 46px;
    }
    .salary-conveyance-width {
      margin-right: 2%;
      width: 17%;
      min-width: 60px;
    }
    .salary-medical-width {
      margin-right: 2%;
      width: 24%;
      min-width: 60px;
    }
    .salary-special-width {
      margin-right: 2%;
      width: 23%;
      min-width: 60px;
    }
    .salary-arrears-width {
      margin-right: 2%;
      width: 12%;
      min-width: 46px;
    }
  }
  .salary-deduction-width {
    .salary-epf-width {
      width: 10%;
      min-width: 46px;
    }
    .salary-loan-width {
      width: 10%;
      min-width: 46px;
    }
    .salary-advance-width {
      width: 15%;
      min-width: 46px;
    }
    .salary-miscdeductions-width {
      width: 25%;
      min-width: 84px;
    }
    .salary-tds-width {
      width: 10%;
      min-width: 46px;
    }
    .salary-options-width {
      width: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .add-salary-deduction-width{
    width: 40%;
    .salary-epf-width {
      margin-right: 2%;
      margin-left: 1%;
      width: 10%;
      min-width: 46px;
    }
    .salary-loan-width {
      margin-right: 2%;
      width: 10%;
      min-width: 46px;
    }
    .salary-advance-width {
      margin-right: 2%;
      width: 15%;
      min-width: 46px;
    }
    .salary-miscdeductions-width {
      margin-right: 2%;
      width: 25%;
      min-width: 84px;
    }
    .salary-tds-width {
      margin-right: 2%;
      width: 10%;
      min-width: 46px;
    }
    .salary-options-width {
      float: right;
      right: 8%;
      width: 12%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .my-salary{
    .salary-total-width {
      width: 10%;
    }
    .salary-addition-width {
      width: 54%;
      .salary-basic-width {
        width: 11%;
        min-width: 46px;
      }
      .salary-hra-width {
        width: 11%;
        min-width: 46px;
      }
      .salary-conveyance-width {
        width: 17%;
        min-width: 60px;
      }
      .salary-medical-width {
        width: 24%;
        min-width: 60px;
      }
      .salary-special-width {
        width: 23%;
        min-width: 60px;
      }
      .salary-arrears-width {
        width: 12%;
        min-width: 46px;
      }
    }
    .salary-deduction-width {
      width: 36%;
      .salary-epf-width {
        width: 19%;
        min-width: 46px;
      }
      .salary-loan-width {
        width: 19%;
        min-width: 46px;
      }
      .salary-advance-width {
        width: 19%;
        min-width: 46px;
      }
      .salary-miscdeductions-width {
        width: 24%;
        min-width: 84px;
      }
      .salary-tds-width {
        width: 19%;
        min-width: 46px;
      }
      // .salary-options-width {
      //   width: 12%;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      // }
    }
  }
}
@media screen and (min-width: $screen-width-768) and (max-width: $screen-width-991) {
  .salary-total{
    font-size: $font-size-10;
  }
  .payslip_arrear_response {
    flex-direction: column;
  }
  .payslip-add-arrear {
    padding: 10px;
  }
  .salary-total-title {
    text-align: center;
    font-weight: 600;
  }
  .salary-total-value {
    text-align: center;
  }
  .salary-addition-width {
    padding-right: 0 !important;
  }
  
}
@media screen and (max-width: $screen-width-767) {
  .content-salary{
    .leaves{
      .leave-field{
        width: 100%;
      }
    }
  }
  .salary-addition-width {
    padding-right: 0 !important;
  }
    .salary-border-left {
      border-left: 0px !important;
    }
    .salary-total-title {
      text-align: center;
      font-weight: 600;
      font-size: $font-size-14;
    }
    .salary-total-value {
      text-align: center;
      font-size: $font-size-14;
    }
    .salary-details{
      height: 150px;
      .salary-block{
        height: 100%;
        .cell{
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          &.center{
            justify-content: space-around;
          }
        }
      }
    }
    .salary-add-block {
      height: auto;
    }
}
@media screen and (max-width: $screen-width-398) {
  .salary-p-x {
      padding-right: .5rem !important;
      padding-left: .5rem !important;
  }
  .salary-title{
    font-size: $font-size-13;
  }
}
@media screen and (max-width: $screen-width-768) {
  .m-view{
    display: block;
  }
  .l-view{
    display: none;
  }
  .salary-view-point + .row {
    margin-right: 0;
  }
  .salary-view-point + .row > .col {
    padding-right: 0;
  }
  .my-salary-detail-income {
    font-size: $font-size-10;
  }  
  .salary-view-admin {
    .table-responsive {
      border:none;
    }
  }
}
@media screen and (min-width: $screen-width-768) {
  .m-view{
    display: none;
  }
  .l-view{
    display: block;
  }
  .w-13{
    width: 13%;
  }
  .w-15{
    width: 15%;
  }
  .content-payslips{
    .payslip_row{
      .row{
        .w-13, .w-15{
          padding: 0 !important;
        }
      }
    }
  }
}

.no-gutter.p-3.earning-deduction-tabble{
  padding: 0rem 1rem 1rem 1rem ;
  font-size: $font-size-10;
}
.border-btm{
  border-bottom: 1px solid $opacity-gray;
}
@media screen and (max-width: $screen-width-576) {
  .allocate-lavel{
    width: 100% !important;
  }
  .leave-btns-wrapper{
    flex-direction: column !important;
    Button:nth-child(2){
      margin-top: .2rem;
    }
    Button{
      width: 100%;
    }
  }
  .mysalary_mobile {
    display: none;
  }
  .mysalary_view_list {
    flex-direction: column;
    padding-left: 10px;
  }
  .admin-slary-view {
    flex-direction: column;
  }
  .salary-view-point + .row > .col {
    padding-right: 5px;
  }

  .box > .earning-deduction-tabble {
    padding-left: 0 !important;
    padding-right: 0 !important;
    flex-direction: column;
    .right-deduction-table {
      margin-left: 0 !important;
      margin-top: 10px;
    }
  }
  .my-salary-detail-income {
    margin: 0 !important;
    width: 100%;
  }
  .mysalary_button {
    font-size: $font-size-10 !important;
    padding: 4px 10px !important;
  }
  .my_salary_table_body {
    font-size: $font-size-13;
  }
}
.notify-employee-button{
  display: inline-block;
  color: $black;
  button{
    font-weight: 600;
  }
}

.leave-allocated-pencil{
  cursor: pointer;
}

.leave-btns-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 1rem;
  Button:nth-child(1){
    margin-right: 1rem
  }
}

.allocate-lavel{
  width:44%;
}