.resize-y {
  min-height: 75px;
  resize: vertical;
}
.table-responsive-thing {
  font-size: $font-size-12;
}
.task-content {
  font-size: $font-size-12;
  padding-top: 0.3em;
}

.image-place {
  height: 60px;
  width: 60px;
  display: block;
  margin-right: 1em;
  border-radius: 50%;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
  }
}
.card-detail-info {
  background: white;
}
.profile-job_detail {
  font-size: $font-size-15;
  color: $black;
  font-weight: 500;
}
.profile-user-name {
  color: $black;
}
.peofile-detail-view {
  font-size: $font-size-12;
}

.profile-input label {
  font-size: $font-size-14;
}

.peofile-detail-view-date,
.peofile-detail-view-email {
  color: $black;
  font-weight: 500;
}
.user-profile-content {
  align-items: flex-end;
}
.profile-thing {
  justify-content: space-between;
}
.link-value-class.manage-users-nav-bar.nav {
  background-color: $body-bg;
  padding-bottom: 1em;
  li {
    a {
      padding: 10px;
    }
    a.active.nav-link {
      border-bottom: 2px solid $blue-white;
    }
    a.active.nav-link span {
      color: $blue-white;
    }

    a span {
      font-weight: 500;
      color: $brown-blue;
    }
  }
}

.manage-users-tabPane {
  padding-left: 1em !important;
  padding-right: 1em !important;
}
.manage-users-tab {
  border-radius: 5px;
  cursor: pointer;
}

.manage-users-tab.active {
  background-color: $white;
}

.manage-users-tab.active span {
  font-weight: 400;
}

.manage-users-tab span {
  color: $black;
  font-size: $font-size-15;
}
.manage-users-tab:hover {
  background-color: $grey-200;
}
.tab_pane_padding {
  padding: 1em;
}

#empLifeCycle .task-content h6 {
  font-size: $font-size-13 !important;
}

#empLifeCycle {
  // padding:1em;
}
.empLifeCycle {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s ease-in;
}

.empLifeCycle.New.Employee.Onboarding,
.empLifeCycle.Employment.Confirmation,
.empLifeCycle.Termination {
  max-height: 2000px;
  transition: max-height 1s ease-out;
}

.form-check .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 7px;
  border: solid $white;
  border-width: 0px 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card-design {
  background: $white;
  padding: 10px 10px 0 10px;
  border-radius: 8px;
}

.card-design-for-list .d-flex > h6 {
  text-transform: uppercase;
  font-weight: 600;
  color: $gray-origin;
  width: 100%;
}

.emp-life-cycle {
  text-transform: uppercase;
}

.card-design-for-list {
  padding-bottom: 1em;
  .card-list-heading {
    cursor: pointer;
  }
}

.card-design-for-list .material-icons.expand-icon {
  cursor: pointer;
}

.checkedTrue {
  color: $gray-origin;
}

.checkedFalse {
  color: $black;
}

.box-border {
  border: 1px solid $white-brown;
}

.slack-toggle {
  padding-left: 1em;
}

.slack-label {
  padding-left: 0px !important;
}
.avatar.w-96.pointer.userimg {
  width: 65px;
  height: 65px;
  img {
    height: 100%;
  }
}
.work-email.b {
  word-break: break-all;
}
.user-header {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  .dot-wrapper {
    margin-left: 0.5rem;
  }
}

.dot-wrapper {
  display: flex;
  align-items: center;
  margin-left: 2rem;

  .green-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: $active-tab;
  }
  .glyphicon.glyphicon-pencil.pl-3 {
    padding-left: 0px !important;
    margin-left: 6px;
    cursor: pointer;
    color: $black;
    font-size: $font-size-16;
  }
}

.my-profile-details {
  font-size: $font-size-12;
  color: $black;
  font-weight: 500;
}

.manage-users-tabPane.manage-users-assignDevice .clear {
  overflow: auto;
}

.bold-text {
  font-weight: 700;
}

.userPayslipsHistory {
  height: 148px;
}

.manageUsersSection .btn-wrapper {
  align-items: center;
}

.manageUsersSection .box .avatar {
  width: 85px;
}

// .editProfileTitle .box > div {
//   justify-content: flex-start !important;
// }
@media (max-width: $screen-width-480) {
  .generic-pic-header {
    flex-wrap: wrap;
  }
  .manageUsersSection .generic-pic-header .disable-user {
    width: 100%;
    padding-top: 1em;
  }
}

@media (max-width: $screen-width-575) {
  .doc-label {
    padding: 0 !important;
  }
}
@media (max-width: $screen-width-576) {
  .manageUsersSection {
    .card-detail-info.d-flex {
      flex-wrap: wrap;
    }

    .btn-wrapper {
      padding-left: 0px;
      padding: 0.5em 0;
    }
    .abc-checkbox-primary {
      flex-wrap: wrap;
    }
  }
}
@media (max-width: $screen-width-340) {
  .card-detail-info {
    margin-left: 0;
  }
}

@media (min-width: $screen-width-577) {
  .manageUsersSection #uploadDoc .form-group.d-flex {
    flex-wrap: wrap;
  }
  .manageUsersSection #uploadDoc .form-group .declaration {
    margin-left: 0;
    padding-left: 1em;
  }
  .manageUsersSection .abc-checkbox-primary {
    flex-wrap: wrap;
  }
  .manageUsersSection .abc-checkbox-primary {
    .col {
      padding-bottom: 0.5em;
    }
    .btn-wrapper {
      padding-bottom: 0.5em;
    }
    button {
      padding-bottom: 0.5em;
    }
  }
}

@media (min-width: $screen-width-1200) {
  .abc-checkbox-primary .col-lg-2 {
    padding-left: 2.5em !important;
  }
}

@media (min-width: 768) {
  .manageUsersSection .table-responsive-thing {
    display: flex;
  }
}
@media (max-width: $screen-width-567) {
  .profile-thing.card-detail-info {
    margin-left: 0 !important;
  }
  .manageUsersSection .table-responsive-thing > :nth-child(1) {
    padding-left: 0 !important;
  }
  .manageUsersSection > h4 {
    margin-left: 0;
  }
  .manageUsersSection .alert-transparent {
    margin-left: 0 !important;
  }
}
