#uploadMyDoc {
  transition: 0.2s;
}
.auto-width-center {
  left: 50%;
  -ms-transform: translate(-50%) !important;
  -webkit-transform: translate(-50%) !important;
  transform: translate(-50%) !important;
}
.declaration {
  display: inline-flex;
  width: 90%;
  margin-left: 1vw;
}
.document_row {
  width: 100%;
}
.vertical-middle {
  margin: 0 !important;
  vertical-align: middle;
}
.mydoc_title {
  font-size: 2em;
  margin: 0;
}
.upload_newdoc {
  font-size: 12px;
}
.upload_alert_notify {
  font-size: 10px !important;
  color: #fff;
}
.upload_alert_subtitle {
  font-weight: 500;
}
.upload_doc_list {
  font-size: 12px !important;
}
.declare_statement {
  font-size: 10px;
  font-weight: 600;
}
.doc_upload_place {
  font-size: 12px;
  font-weight: 500;
}
.image_doc_view {
  height: 100px;
  width: 100px;
}
.list_doc_file {
  width: 33%;
}
.tick_list {
  top: -1px !important;
  font-size: 8px !important;
}
.list_number {
  border-radius: 50%;
  background-color: #f3f7f3;
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 20px;
  margin-right: 16px;
  font-size: 10px;
}
.upload_doc_title {
  th {
    font-size: 14px;
  }
}
.upload_doc_detail {
  font-size: 12px;
}
.uploadAttendance table tr td {
  font-size: 13px;
  white-space: pre;
}

.uploadAttendance .drag_and_drop{
  height: 2.5em !important;
  min-height: 0;
}

.uploadAttendance table thead tr th{
  vertical-align: middle;
}

@media (max-width: 540px) {
  option {
    font-size: 12px;
    padding: 10px !important;
  }
}
.document-title {
  font-size: 2em;
}
.drag_and_drop {
  border: 1px dashed lightgray;
  min-height: 13em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.uploading_doc {
  font-size: 4em;
  color: darkgray;
}
.doc-list > li {
  line-height: 2;
}
.list-number {
  border-radius: 50%;
  background-color: #f3f7f3;
  display: inline-block;
  width: 20px;
  text-align: center;
  height: 20px;
  margin-right: 16px;
  margin-top: 2px;
}
.list-number-align {
  font-size: "0.7em";
  vertical-align: "bottom";
}
.List-value {
  font-size: 18px;
}
.pg-viewer-wrapper {
  overflow-y: unset !important;
  .photo-viewer-container {
    height: unset !important;
    width: unset !important;
  }
}
.t-scale-1 {
  transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
}

.img-preview{
  max-width:200px;
  height:auto;
}
@media screen and (max-width: 576px) {
  .form_mobile_document {
    flex-direction: column;
  }
}

.uploaded-documents-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  .uploaded-document {
    position: relative;
    .fa {
      position: absolute;
      top: 5px;
      right: 5px;
      cursor: pointer;
    }
    h6 {
      text-align: center;
    }
  }
}

.compressed-file{
  font-size: 12px;
}
.my-documents-list-li{
  display: grid;
  grid-template-columns: 1fr 6fr;
}

  .remove-image-icon{
    font-weight: bold;
    cursor: pointer;
    color: red;
    margin-left: .5rem;
  }